force-app/main/default/flows/Additional_JC_recommended_Before_insert_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_price</name>
        <label>Assign price</label>
        <locationX>314</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.RR_Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_PriceBook_entry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_price1</name>
        <label>Assign price</label>
        <locationX>1370</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.RR_Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_standard_pricebook_entry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <customErrors>
        <name>Error_1</name>
        <label>Error 1</label>
        <locationX>842</locationX>
        <locationY>1103</locationY>
        <customErrorMessages>
            <errorMessage>Price not set for the selected product ({!$Record.RR_Product__r.Name}). Please set a price to continue.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_3</name>
        <label>Error 3</label>
        <locationX>578</locationX>
        <locationY>1103</locationY>
        <customErrorMessages>
            <errorMessage>PriceBook entry for the selected product ({!$Record.RR_Product__r.Name}) is inactive. Please activate to continue.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_4</name>
        <label>Error 4</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <customErrorMessages>
            <errorMessage>Selected product is inactive ({!$Record.RR_Product__r.Name}). Please select an active product to continue.</errorMessage>
            <fieldSelection>RR_Product__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_create_update</name>
        <label>Check create/update</label>
        <locationX>842</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Check_the_changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Products</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Products</name>
        <label>Check Products</label>
        <locationX>842</locationX>
        <locationY>779</locationY>
        <defaultConnector>
            <targetReference>get_standard_pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>product_is_inactive3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RR_Product__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_4</targetReference>
            </connector>
            <label>product is inactive</label>
        </rules>
        <rules>
            <name>Price_Book_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RR_Work_Order__r.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_PriceBook_entry</targetReference>
            </connector>
            <label>Price Book Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_changes</name>
        <label>Check the changes</label>
        <locationX>974</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RR_Product__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Products</targetReference>
            </connector>
            <label>Product changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>priceBook_found</name>
        <label>priceBook found?</label>
        <locationX>710</locationX>
        <locationY>995</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PriceBook_entry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_PriceBook_entry.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.RR_Product__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_price</targetReference>
            </connector>
            <label>yes</label>
        </rules>
        <rules>
            <name>pricebook_entry_is_inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PriceBook_entry.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_3</targetReference>
            </connector>
            <label>pricebook entry is inactive</label>
        </rules>
        <rules>
            <name>PriceBook_entry_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PriceBook_entry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_1</targetReference>
            </connector>
            <label>PriceBook entry not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>standard_priceBook_found</name>
        <label>standard priceBook found?</label>
        <locationX>1634</locationX>
        <locationY>1103</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_standard_pricebook_entry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_standard_pricebook_entry.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.RR_Product__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_price1</targetReference>
            </connector>
            <label>yes</label>
        </rules>
        <rules>
            <name>standard_PriceBook_entry_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_standard_pricebook_entry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Error_1</targetReference>
            </connector>
            <label>standard PriceBook entry not found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Additional JC recommended = Before insert/update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Additional JC recommended - Before insert/update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_PriceBook_entry</name>
        <label>get PriceBook entry</label>
        <locationX>710</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>priceBook_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RR_Work_Order__r.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RR_Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_standard_pricebook</name>
        <label>get standard pricebook</label>
        <locationX>1634</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_standard_pricebook_entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_standard_pricebook_entry</name>
        <label>Get standard pricebook entry</label>
        <locationX>1634</locationX>
        <locationY>995</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>standard_priceBook_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_standard_pricebook.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RR_Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_create_update</targetReference>
        </connector>
        <object>RR_Additional_Job_Recommended__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
