force-app/main/default/flows/Assignment_log_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_warehouseIds</name>
        <label>Assign warehouseIds</label>
        <locationX>556</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>WarehouseIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_warehouse.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_warehouse</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Based_on_time</name>
        <label>Based on time</label>
        <locationX>468</locationX>
        <locationY>1547</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delivery_time</name>
            <conditionLogic>(1 AND 2 AND 3) OR (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Spare_Vehicle_Delivery_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Spare_Vehicle_Returning_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vehicle__r.Spare_Vehicle_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Spare_Vehicle_Delivery_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Inventory_lot</targetReference>
            </connector>
            <label>Delivery time</label>
        </rules>
        <rules>
            <name>Returning_time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Spare_Vehicle_Returning_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Spare_Vehicle_Delivery_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Spare_Vehicle_Returning_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_spare_vehicel_return</targetReference>
            </connector>
            <label>Returning time</label>
        </rules>
        <rules>
            <name>delivery_time_removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Spare_Vehicle_Delivery_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Spare_Vehicle_Delivery_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Spare_Vehicle_Delivery_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Records_6</targetReference>
            </connector>
            <label>delivery time removed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Vehicle</name>
        <label>Check Vehicle</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Based_on_time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vehicle_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vehicle__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Vehicle__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Vehicle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_update_spare_vehicle_status</targetReference>
            </connector>
            <label>Vehicle changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Vehicle_Assignment</name>
        <label>Check Vehicle Assignment</label>
        <locationX>468</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Based_on_time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vehicle_assigned</name>
            <conditionLogic>(1 AND 2 AND 4) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vehicle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vehicle__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Spare_Vehicle_Returning_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Odo_Meter_Reading</targetReference>
            </connector>
            <label>Vehicle assigned</label>
        </rules>
        <rules>
            <name>Vehicle_returned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Spare_Vehicle_Returning_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Spare_Vehicle_Delivery_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vehicle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vehicle__r.Spare_Vehicle_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Spare_Vehicle_Returning_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_update_spare_vehicle_status</targetReference>
            </connector>
            <label>Vehicle returned</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IncreaseQuantity</name>
        <dataType>Number</dataType>
        <expression>{!Inventory_lot.Available_Quantity__c}+1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>ReduceQuantity</name>
        <dataType>Number</dataType>
        <expression>{!Copy_3_of_Inventory_lot.Available_Quantity__c}-1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Assignment log - After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assignment log - After Update</label>
    <loops>
        <name>Loop_warehouse</name>
        <label>Loop warehouse</label>
        <locationX>468</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Records_7</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_warehouseIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Inventory_lot</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_3_of_Inventory_lot</name>
        <label>Copy 3 of Inventory lot</label>
        <locationX>72</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Records_6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spare Vehicle</stringValue>
            </value>
        </filters>
        <filters>
            <field>Warehouse__c</field>
            <operator>In</operator>
            <value>
                <elementReference>WarehouseIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Available_Quantity__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory_Lot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_7</name>
        <label>Get Records 7</label>
        <locationX>468</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_warehouse</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Dealer_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Appointment__r.Service_Centre__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dealer_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__r.Service_Center__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dealer_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Warehouse__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Inventory_lot</name>
        <label>Inventory lot</label>
        <locationX>468</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Vehicle_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spare Vehicle</stringValue>
            </value>
        </filters>
        <filters>
            <field>Warehouse__c</field>
            <operator>In</operator>
            <value>
                <elementReference>WarehouseIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory_Lot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_update_spare_vehicle_status</name>
        <label>Copy 1 of Copy 1 of update spare vehicle status</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Based_on_time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Vehicle__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LastOdometerReading</field>
            <value>
                <elementReference>$Record.Spare_Vehicle_Odo_Readings__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spare_Vehicle_Status__c</field>
            <value>
                <stringValue>Unassigned</stringValue>
            </value>
        </inputAssignments>
        <object>Vehicle</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Records_6</name>
        <label>Copy 1 of Update Records 6</label>
        <locationX>600</locationX>
        <locationY>1655</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spare Vehicle</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Inventory_lot.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Quantity__c</field>
            <value>
                <elementReference>IncreaseQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory_Lot__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_update_spare_vehicle_status</name>
        <label>Copy 1 of update spare vehicle status</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Check_Vehicle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Spare_Vehicle_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vehicle__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Spare_Vehicle_Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>Vehicle</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Copy_1_of_update_spare_vehicle_status</name>
        <label>Copy 2 of Copy 1 of update spare vehicle status</label>
        <locationX>490</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Based_on_time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vehicle__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LastOdometerReading</field>
            <value>
                <elementReference>$Record.Spare_Vehicle_Odo_Readings__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spare_Vehicle_Status__c</field>
            <value>
                <stringValue>Unassigned</stringValue>
            </value>
        </inputAssignments>
        <object>Vehicle</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Update_Records_6</name>
        <label>Copy 4 of Update Records 6</label>
        <locationX>336</locationX>
        <locationY>1763</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spare Vehicle</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Inventory_lot.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Quantity__c</field>
            <value>
                <elementReference>IncreaseQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory_Lot__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Odo_Meter_Reading</name>
        <label>Update Odo Meter Reading</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Copy_1_of_update_spare_vehicle_status</targetReference>
        </connector>
        <inputAssignments>
            <field>Spare_Vehicle_Odo_Reading__c</field>
            <value>
                <elementReference>$Record.Vehicle__r.LastOdometerReading</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_6</name>
        <label>Update Records 6</label>
        <locationX>72</locationX>
        <locationY>1763</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spare Vehicle</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_3_of_Inventory_lot.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Quantity__c</field>
            <value>
                <elementReference>ReduceQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory_Lot__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_spare_vehicel_return</name>
        <label>update spare vehicel return</label>
        <locationX>336</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Copy_4_of_Update_Records_6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Spare_Vehicle_Returned__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Records_7</targetReference>
        </connector>
        <object>Assignment_Log__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>WarehouseIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
