force-app/main/default/flows/Autopopulate_PO_lineitem_fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.SourceLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>131F4000000Cv5U</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DestinationLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_details.Destination_Location__r.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_if_PO_is_not_empty</name>
        <label>Check if PO is not empty</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PO_is_linked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_1</targetReference>
            </connector>
            <label>PO is linked?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Autopopulate PO lineitem fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autopopulate PO lineitem fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_PO_details</name>
        <label>Get PO details</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_PO_is_not_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductRequest</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_PO_details</targetReference>
        </connector>
        <object>ProductRequestLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
