force-app/main/default/flows/Case_Emails_Generator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>When_Case_type_is_Complaint_And_status_is_close</name>
        <label>When Case type is Complaint And status is close</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Case.when_Case_type_is_Complaint_And_status_is_close</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>create_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.when_Case_type_is_Complaint_And_status_is_close</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>When_Case_type_is_Complaint_And_status_is_open</name>
        <label>When Case type is Complaint And status is open</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>Case.when_Case_type_is_Complaint_And_status_is_open</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.when_Case_type_is_Complaint_And_status_is_open</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>When_Case_type_is_Complaint_And_status_is_RNR</name>
        <label>When Case type is Complaint And status is RNR</label>
        <locationX>2426</locationX>
        <locationY>431</locationY>
        <actionName>Case.when_Case_type_is_Complaint_And_status_is_RNR</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.when_Case_type_is_Complaint_And_status_is_RNR</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>When_Case_type_is_General_Query_And_status_is_close</name>
        <label>When Case type is General Query And status is close</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Case.when_Case_type_is_General_Query_And_status_is_close</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.when_Case_type_is_General_Query_And_status_is_close</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>When_Case_type_is_General_Query_And_status_is_open</name>
        <label>When Case type is General Query And status is open</label>
        <locationX>3482</locationX>
        <locationY>539</locationY>
        <actionName>Case.when_Case_type_is_General_Query_And_status_is_open</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.when_Case_type_is_General_Query_And_status_is_open</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>When_Case_type_is_General_Query_And_status_is_RNR</name>
        <label>When Case type is General Query And status is RNR</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <actionName>Case.when_Case_type_is_General_Query_And_status_is_RNR</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.when_Case_type_is_General_Query_And_status_is_RNR</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>When_Case_type_is_PFSU_And_status_is_Close</name>
        <label>When Case type is PFSU And status is Close</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <actionName>Case.when_Case_type_is_PFSU_And_status_is_Close</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>PFSU_Task_Creation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.when_Case_type_is_PFSU_And_status_is_Close</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>When_Case_type_is_PFSU_And_status_is_open</name>
        <label>When Case type is PFSU And status is open</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <actionName>Case.when_Case_type_is_PFSU_And_status_is_open</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.when_Case_type_is_PFSU_And_status_is_open</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>When_Case_type_is_PFSU_And_status_is_RNR</name>
        <label>When Case type is PFSU And status is RNR</label>
        <locationX>3218</locationX>
        <locationY>431</locationY>
        <actionName>Case.when_Case_type_is_PFSU_And_status_is_RNR</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.when_Case_type_is_PFSU_And_status_is_RNR</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>When_Case_type_is_Service_request_And_status_is_open</name>
        <label>When Case type is Service request And status is open</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <actionName>Case.when_Case_type_is_Service_request_And_status_is_open</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.when_Case_type_is_Service_request_And_status_is_open</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>When_Case_type_is_Service_request_And_status_is_RNR</name>
        <label>When Case type is Service request And status is RNR</label>
        <locationX>2954</locationX>
        <locationY>431</locationY>
        <actionName>Case.when_Case_type_is_Service_request_And_status_is_RNR</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.when_Case_type_is_Service_request_And_status_is_RNR</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>When_Case_type_is_urgent_Complaint_And_status_is_Close</name>
        <label>When Case type is urgent Complaint And status is Close</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <actionName>Case.when_Case_type_is_urgent_Complaint_And_status_is_Close</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Urgent_Complaint_Task_Creation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.when_Case_type_is_urgent_Complaint_And_status_is_Close</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>When_Case_type_is_urgent_Complaint_And_status_is_open</name>
        <label>When Case type is urgent Complaint And status is open</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>Case.when_Case_type_is_urgent_Complaint_And_status_is_open</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.when_Case_type_is_urgent_Complaint_And_status_is_open</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>When_Case_type_is_urgent_Complaint_And_status_is_RNR</name>
        <label>When Case type is urgent Complaint And status is RNR</label>
        <locationX>2690</locationX>
        <locationY>431</locationY>
        <actionName>Case.when_Case_type_is_urgent_Complaint_And_status_is_RNR</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.when_Case_type_is_urgent_Complaint_And_status_is_RNR</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>2030</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>General_Query_Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Query</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Case_type_is_General_Query_And_status_is_close</targetReference>
            </connector>
            <label>General  Query Close</label>
        </rules>
        <rules>
            <name>Complaint_IS_CLOSE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Case_type_is_Complaint_And_status_is_close</targetReference>
            </connector>
            <label>Complaint IS CLOSE</label>
        </rules>
        <rules>
            <name>Complaint_IS_OPEN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Case_type_is_Complaint_And_status_is_open</targetReference>
            </connector>
            <label>Complaint IS OPEN</label>
        </rules>
        <rules>
            <name>Urgent_Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Urgent Complaint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Case_type_is_urgent_Complaint_And_status_is_open</targetReference>
            </connector>
            <label>Urgent Complaint</label>
        </rules>
        <rules>
            <name>Urgent_Complaint_Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Urgent Complaint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Case_type_is_urgent_Complaint_And_status_is_Close</targetReference>
            </connector>
            <label>Urgent Complaint Close</label>
        </rules>
        <rules>
            <name>Service_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Case_type_is_Service_request_And_status_is_open</targetReference>
            </connector>
            <label>Service Request</label>
        </rules>
        <rules>
            <name>PFSU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSFU Concerns</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Case_type_is_PFSU_And_status_is_open</targetReference>
            </connector>
            <label>PFSU</label>
        </rules>
        <rules>
            <name>PESU_CLOSE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSFU Concerns</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Case_type_is_PFSU_And_status_is_Close</targetReference>
            </connector>
            <label>PFSU CLOSE</label>
        </rules>
        <rules>
            <name>when_case_is_general_query_and_status_is_RNR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RNR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Query</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Case_type_is_General_Query_And_status_is_RNR</targetReference>
            </connector>
            <label>when case is general query and status is RNR</label>
        </rules>
        <rules>
            <name>complaint_RNR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RNR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Case_type_is_Complaint_And_status_is_RNR</targetReference>
            </connector>
            <label>complaint RNR</label>
        </rules>
        <rules>
            <name>Urgent_complaint_and_RNR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Urgent Complaint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RNR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Case_type_is_urgent_Complaint_And_status_is_RNR</targetReference>
            </connector>
            <label>Urgent complaint and RNR</label>
        </rules>
        <rules>
            <name>service_and_RNR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RNR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Case_type_is_Service_request_And_status_is_RNR</targetReference>
            </connector>
            <label>service and RNR</label>
        </rules>
        <rules>
            <name>psfu_and_Rnr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSFU Concerns</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RNR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Case_type_is_PFSU_And_status_is_RNR</targetReference>
            </connector>
            <label>psfu and Rnr</label>
        </rules>
        <rules>
            <name>General_query_open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Query</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_check</targetReference>
            </connector>
            <label>General query open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_check</name>
        <label>Email check</label>
        <locationX>3614</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>email_chencking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.case_Email__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Case_type_is_General_Query_And_status_is_open</targetReference>
            </connector>
            <label>email chencking</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>duedatefortask</name>
        <dataType>Date</dataType>
        <expression>{!$Record.ClosedDate}+1</expression>
    </formulas>
    <interviewLabel>Case Emails Generator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Emails Generator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_task</name>
        <label>create task</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>duedatefortask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Closed Case Follow Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PFSU_Task_Creation</name>
        <label>PFSU Task Creation</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>duedatefortask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Closed Case Follow Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Urgent_Complaint_Task_Creation</name>
        <label>Urgent Complaint Task Creation</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>duedatefortask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Closed Case Follow Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>1904</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>case_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItem_con_filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>werthjk</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
