force-app/main/default/flows/Check_Product_Availability_In_Dealer_Warehouse.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Product_is_Not_Available</name>
        <label>Copy 1 of Copy 1 of Product is Not Available</label>
        <locationX>2954</locationX>
        <locationY>1571</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>ProductUnavailabilityMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Copy_1_of_Get_inventory_warehoused_data.Warehouse__r.Manager__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Order.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Product_is_Not_Available</name>
        <label>Copy 1 of Product is Not Available</label>
        <locationX>3218</locationX>
        <locationY>1571</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>ProductUnavailabilityMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Manager</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Order.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Submit_Approval_to_Manager</name>
        <label>Copy 1 of Submit Approval to Manager</label>
        <locationX>578</locationX>
        <locationY>1463</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Dummy</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>ManegrIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Dealer_Warehouse_approved</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Product_is_Not_Available</name>
        <label>Copy 2 of Product is Not Available</label>
        <locationX>1370</locationX>
        <locationY>1571</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>ProductUnavailabilityMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Get_inventory_warehoused_data.Warehouse__r.Manager__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Order.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Product_Available</name>
        <label>Product Available</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Order.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>VehicleAssignmentMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Get_inventory.Warehouse__r.Manager__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Order.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Product_is_Not_Available</name>
        <label>Product is Not Available</label>
        <locationX>1634</locationX>
        <locationY>1571</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>ProductUnavailabilityMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Manager</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Order.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Submit_Approval_to_Manager</name>
        <label>Submit Approval to Manager</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>ManegrIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Dealer_Warehouse_approved</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Id_to_a_List</name>
        <label>Add Id to a List</label>
        <locationX>534</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>IdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Warehouses.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_manager</name>
        <label>assign manager</label>
        <locationX>1722</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Manager</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_warehoused_2.Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_warehoused_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_manager_id</name>
        <label>assign manager id</label>
        <locationX>3306</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Manager</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Loop_warehoused_2.Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_warehoused_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Id_to_list</name>
        <label>Assign the Id to list</label>
        <locationX>402</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>ManegrIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Warehouses.Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Warehouses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>checked_multiple_times</name>
        <label>checked multiple times</label>
        <locationX>1854</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>idList2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_warehoused_2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Condition1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>For_accessories_checked</name>
        <label>For accessories checked</label>
        <locationX>3438</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>idList3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Loop_warehoused_2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Condition1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_inventory_2</name>
        <label>check inventory 2</label>
        <locationX>1634</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_inventory_warehoused_data.Available_Quantity__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Quantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_record2</targetReference>
            </connector>
            <label>yess</label>
        </rules>
        <rules>
            <name>Not_Available_quantity</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_inventory_warehoused_data.Available_Quantity__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.AvailableQuantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inventory_present</targetReference>
            </connector>
            <label>Not Available quantity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Inventory_lot</name>
        <label>Check Inventory lot</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Submit_Approval_to_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_inventory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Record</targetReference>
            </connector>
            <label>Is not null</label>
        </rules>
        <rules>
            <name>send_approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_inventory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ManegrIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Approval_to_Manager</targetReference>
            </connector>
            <label>send approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Inventory_lot_1</name>
        <label>Check Inventory lot</label>
        <locationX>3218</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_inventory_warehoused_data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Product_is_Not_Available</targetReference>
            </connector>
            <label>Present</label>
        </rules>
        <rules>
            <name>Absent1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_inventory_warehoused_data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Product_is_Not_Available</targetReference>
            </connector>
            <label>Absent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_manager</name>
        <label>Check manager</label>
        <locationX>534</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Loop_Warehouses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ManagerIdpresent</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Warehouses.Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ManegrIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Warehouses.Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_Id_to_list</targetReference>
            </connector>
            <label>ManagerIdpresent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Update_Insert</name>
        <label>Check Update/Insert</label>
        <locationX>2426</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proceed</name>
            <conditionLogic>(1 AND 2 AND 4) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vehicle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Dealer_Ware_House</targetReference>
            </connector>
            <label>Proceed</label>
        </rules>
        <rules>
            <name>Parts</name>
            <conditionLogic>(1 AND 3) OR (2 AND  3)</conditionLogic>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dealer_WareHouse_checked</targetReference>
            </connector>
            <label>Parts</label>
        </rules>
        <rules>
            <name>Accessories</name>
            <conditionLogic>(1 AND 3) OR (2 AND  3)</conditionLogic>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accessories</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Dealer_WareHouse_checked</targetReference>
            </connector>
            <label>Accessories</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_warehouse1</name>
        <label>Check warehouse1</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Warehouse_found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Dealer_Ware_House</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Warehouses</targetReference>
            </connector>
            <label>Warehouse found1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Condition1</name>
        <label>Condition1</label>
        <locationX>1854</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Loop_warehoused_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckManager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_warehoused_2.Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_manager</targetReference>
            </connector>
            <label>CheckManager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Condition1</name>
        <label>Copy 1 of Condition1</label>
        <locationX>3438</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Loop_warehoused_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_CheckManager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Loop_warehoused_2.Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_manager_id</targetReference>
            </connector>
            <label>Copy 1 of CheckManager</label>
        </rules>
    </decisions>
    <decisions>
        <name>inventory_checked3</name>
        <label>inventory checked3</label>
        <locationX>3218</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_yess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_inventory_warehoused_data.Available_Quantity__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Quantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_record2</targetReference>
            </connector>
            <label>if yess</label>
        </rules>
        <rules>
            <name>Not_Quantity_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_inventory_warehoused_data.Available_Quantity__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.AvailableQuantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Inventory_lot_1</targetReference>
            </connector>
            <label>Not Quantity available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inventory_present</name>
        <label>Inventory present</label>
        <locationX>1634</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_inventory_warehoused_data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Product_is_Not_Available</targetReference>
            </connector>
            <label>Present</label>
        </rules>
        <rules>
            <name>absent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_inventory_warehoused_data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_is_Not_Available</targetReference>
            </connector>
            <label>absent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Warehouse_check_2</name>
        <label>Warehouse check 2</label>
        <locationX>2030</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>warehouse_found2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dealer_WareHouse_checked</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_warehoused_2</targetReference>
            </connector>
            <label>warehouse found2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Warehouse_Check_3</name>
        <label>Warehouse Check 3</label>
        <locationX>3614</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Warehouse_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Dealer_WareHouse_checked</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Loop_warehoused_2</targetReference>
            </connector>
            <label>Warehouse found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>availablequantity</name>
        <dataType>Boolean</dataType>
        <expression>1&lt;9</expression>
    </formulas>
    <formulas>
        <name>CalculateQuantity</name>
        <dataType>Number</dataType>
        <expression>{!Get_inventory.Available_Quantity__c} - {!$Record.Quantity}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Updateavailablequatity</name>
        <dataType>Number</dataType>
        <expression>{!Get_inventory_warehoused_data.Available_Quantity__c} - {!$Record.Quantity}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Updateavailablequatity2</name>
        <dataType>Number</dataType>
        <expression>{!Copy_1_of_Get_inventory_warehoused_data.Available_Quantity__c}-{!$Record.Quantity}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Check Product Availability In Dealer Warehouse {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Product Availability In Dealer Warehouse</label>
    <loops>
        <name>Copy_1_of_Loop_warehoused_2</name>
        <label>Copy 1 of Loop warehoused 2</label>
        <locationX>3218</locationX>
        <locationY>647</locationY>
        <collectionReference>Copy_1_of_Dealer_WareHouse_checked</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>For_accessories_checked</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Get_inventory_warehoused_data</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_warehoused_2</name>
        <label>Loop warehoused 2</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <collectionReference>Dealer_WareHouse_checked</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checked_multiple_times</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_inventory_warehoused_data</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Warehouses</name>
        <label>Loop Warehouses</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Dealer_Ware_House</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_a_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_inventory</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Dealer_WareHouse_checked</name>
        <label>Copy 1 of Dealer WareHouse checked</label>
        <locationX>3614</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Warehouse_Check_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Order.Dealer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Warehouse__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_inventory_warehoused_data</name>
        <label>Copy 1 of Get inventory warehoused data</label>
        <locationX>3218</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>inventory_checked3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accessories</stringValue>
            </value>
        </filters>
        <filters>
            <field>Warehouse__c</field>
            <operator>In</operator>
            <value>
                <elementReference>idList3</elementReference>
            </value>
        </filters>
        <filters>
            <field>Available_Quantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory_Lot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Dealer_WareHouse_checked</name>
        <label>Dealer WareHouse checked</label>
        <locationX>2030</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Warehouse_check_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Order.Dealer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Warehouse__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dealer_Ware_House</name>
        <label>Get Dealer Ware House</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_warehouse1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Order.Dealer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Warehouse__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_inventory</name>
        <label>Get inventory</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Inventory_lot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vehicle</stringValue>
            </value>
        </filters>
        <filters>
            <field>Warehouse__c</field>
            <operator>In</operator>
            <value>
                <elementReference>IdList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Available_Quantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory_Lot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_inventory_warehoused_data</name>
        <label>Get inventory warehoused data</label>
        <locationX>1634</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_inventory_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parts</stringValue>
            </value>
        </filters>
        <filters>
            <field>Warehouse__c</field>
            <operator>In</operator>
            <value>
                <elementReference>idList2</elementReference>
            </value>
        </filters>
        <filters>
            <field>Available_Quantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory_Lot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Minus_quanity</name>
        <label>Copy 1 of Minus quanity</label>
        <locationX>2690</locationX>
        <locationY>1571</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_inventory_warehoused_data.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Quantity__c</field>
            <value>
                <elementReference>Updateavailablequatity2</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory_Lot__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_record2</name>
        <label>Copy 1 of Update record2</label>
        <locationX>2690</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Copy_1_of_Minus_quanity</targetReference>
        </connector>
        <inputAssignments>
            <field>Available__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inventory_Lot__c</field>
            <value>
                <elementReference>Copy_1_of_Get_inventory_warehoused_data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Minus_quanity</name>
        <label>Minus quanity</label>
        <locationX>1106</locationX>
        <locationY>1571</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_inventory_warehoused_data.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Quantity__c</field>
            <value>
                <elementReference>Updateavailablequatity</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory_Lot__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Minus_the_quantity</name>
        <label>Minus the quantity</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Product_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_inventory.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Quantity__c</field>
            <value>
                <elementReference>CalculateQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory_Lot__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Record</name>
        <label>update Record</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Minus_the_quantity</targetReference>
        </connector>
        <inputAssignments>
            <field>Available__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inventory_Lot__c</field>
            <value>
                <elementReference>Get_inventory.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_record2</name>
        <label>Update record2</label>
        <locationX>1106</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Minus_quanity</targetReference>
        </connector>
        <inputAssignments>
            <field>Available__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inventory_Lot__c</field>
            <value>
                <elementReference>Get_inventory_warehoused_data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2300</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Update_Insert</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vehicle</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parts</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accessories</stringValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>Comments</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Vehicle &apos;{!$Record.Product2.Name}&apos; is not available in the Dealer Warehouse!
Please approve to send a Notification to the Company Warehouse.</text>
    </textTemplates>
    <textTemplates>
        <name>ProductUnavailabilityMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Product2.Name} Is Not Available for this order, Please fill inventory.</text>
    </textTemplates>
    <textTemplates>
        <name>VehicleAssignmentMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Vehicle({!$Record.Product2.Name}) is available in Dealership - Assign to Order</text>
    </textTemplates>
    <variables>
        <name>IdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idList2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idList3</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Manager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ManegrIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
