force-app/main/default/flows/Claim_Item_Approval_and_Rejection_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Claim_Item_Approval_Email_Alert</name>
        <label>Claim Item Approval Email Alert</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>ClaimItem.Claim_Item_Approval_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClaimItem.Claim_Item_Approval_Email_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Claim_Item_rejection_Email_Alert</name>
        <label>Claim Item rejection Email Alert</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>ClaimItem.Claim_Item_Rejection_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClaimItem.Claim_Item_Rejection_Email_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Status_Change</name>
        <label>Status Change</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_the_Status_is_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Claim_to_Sent_To_Finance</targetReference>
            </connector>
            <label>If the Status is Approved</label>
        </rules>
        <rules>
            <name>If_the_Status_is_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Claim_Item_rejection_Email_Alert</targetReference>
            </connector>
            <label>If the Status is Rejected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Claim Item Approval and Rejection Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Claim Item Approval and Rejection Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Claim_to_Sent_To_Finance</name>
        <label>Update Claim to Sent To Finance</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Claim_Item_Approval_Email_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Claim.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sent to Finance</stringValue>
            </value>
        </inputAssignments>
        <object>Claim</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ClaimItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
