force-app/main/default/flows/Company_ware_house_checked.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Company_Manager_approvedd</name>
        <label>Company Manager approvedd</label>
        <locationX>314</locationX>
        <locationY>1356</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>approverIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Need_permission_from_Company_warehouse</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Company_Manager_approvedd</name>
        <label>Copy 1 of Company Manager approvedd</label>
        <locationX>1106</locationX>
        <locationY>1032</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>approverIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Need_permission_from_Company_warehouse</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>In_the_Company_warehouse_avilable_quantity_create_task</name>
        <label>In the Company warehouse avilable quantity create task</label>
        <locationX>50</locationX>
        <locationY>1356</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Assign Vehicle to order</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Get_company_Warehouse.Manager__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_create_list</name>
        <label>Copy 1 of create list</label>
        <locationX>1106</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>approverIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_the_Dealer_Warehose.Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Company_Manager_approvedd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>create_list</name>
        <label>create list</label>
        <locationX>314</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>approverIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_company_Warehouse.Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Company_Manager_approvedd</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Dealer_warehouse</name>
        <label>check Dealer warehouse</label>
        <locationX>842</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_the_Warehouse_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Company_warehouse_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Dealer_Warehose.Company_Warehouse__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Dealer_Warehose.Company_Warehouse__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_company_Warehouse</targetReference>
            </connector>
            <label>Company warehouse found</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Inventory_Available_quanity</name>
        <label>check Inventory Available quanity</label>
        <locationX>446</locationX>
        <locationY>1032</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Avilable_Quanity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_inventory_record.Available_Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_product</targetReference>
            </connector>
            <label>Avilable Quanity</label>
        </rules>
        <rules>
            <name>Unavilable_Quanity</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_inventory_record.Available_Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_inventory_record.Available_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_Warehouse_Manager</targetReference>
            </connector>
            <label>Unavilable Quanity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Dealer</name>
        <label>Check the Dealer</label>
        <locationX>1568</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_not_available_in_dealership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dealer_Warehouse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_1</targetReference>
            </connector>
            <label>Order not available in dealership</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Warehouse_Manager</name>
        <label>Check the Warehouse Manager</label>
        <locationX>446</locationX>
        <locationY>1140</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manager_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_company_Warehouse.Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_list</targetReference>
            </connector>
            <label>Manager is not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_warehouse_data</name>
        <label>check warehouse data</label>
        <locationX>1238</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>warehouse_not_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Dealer_Warehose</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_Dealer_warehouse</targetReference>
            </connector>
            <label>warehouse not present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_the_Warehouse_Manager</name>
        <label>Copy 1 of Check the Warehouse Manager</label>
        <locationX>1238</locationX>
        <locationY>816</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Manager_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Dealer_Warehose.Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_create_list</targetReference>
            </connector>
            <label>Copy 1 of Manager is not empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MinusQuanity</name>
        <dataType>Number</dataType>
        <expression>{!Get_inventory_record.Available_Quantity__c}-{!Get_Records_1.Quantity}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Company ware house checked {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order- After Update (Company Warehouse Checked)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_company_Warehouse</name>
        <label>Get company Warehouse</label>
        <locationX>446</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_inventory_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Dealer_Warehose.Company_Warehouse__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Warehouse__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_inventory_record</name>
        <label>Get inventory record</label>
        <locationX>446</locationX>
        <locationY>924</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Inventory_Available_quanity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_company_Warehouse.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Records_1.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory_Lot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_1</name>
        <label>Get Records 1</label>
        <locationX>1238</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_Dealer_Warehose</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vehicle</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Dealer_Warehose</name>
        <label>Get the Dealer Warehose</label>
        <locationX>1238</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_warehouse_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dealer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Warehouse__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>minus_Inventory</name>
        <label>minus Inventory</label>
        <locationX>50</locationX>
        <locationY>1248</locationY>
        <connector>
            <targetReference>In_the_Company_warehouse_avilable_quantity_create_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_inventory_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Quantity__c</field>
            <value>
                <elementReference>MinusQuanity</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory_Lot__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_product</name>
        <label>Update Order product</label>
        <locationX>50</locationX>
        <locationY>1140</locationY>
        <connector>
            <targetReference>minus_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Records_1.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Availability__c</field>
            <value>
                <stringValue>Company Warehouse</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inventory_Lot__c</field>
            <value>
                <elementReference>Get_inventory_record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordUpdates>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Dealer_Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Check_the_Dealer</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>Comments</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Vehicle in this Order is not available in the Company Warehouse!
Please approve to notify the Manufacturing Unit.</text>
    </textTemplates>
    <variables>
        <name>approverIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
