force-app/main/default/flows/Create_Asset_Milestones.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>X10th_Service_Milestone</name>
        <label>10th Service Milestone</label>
        <locationX>176</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>AssetMilestone.VehicleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VehicleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MDate48</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>10th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>10th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tentative</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.UsageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automotive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetMilestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X11th_Service_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X11th_Service_Milestone</name>
        <label>11th Service Milestone</label>
        <locationX>176</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>AssetMilestone.VehicleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VehicleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MDate54</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>11th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>11th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tentative</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.UsageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automotive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetMilestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X12th_Service_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X12th_Service_Milestone</name>
        <label>12th Service Milestone</label>
        <locationX>176</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>AssetMilestone.VehicleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VehicleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MDate60</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>12th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>12th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tentative</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.UsageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automotive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetMilestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X13th_Service_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X13th_Service_Milestone</name>
        <label>13th Service Milestone</label>
        <locationX>176</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>AssetMilestone.VehicleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VehicleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MDate66</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>13th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>13th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tentative</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.UsageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automotive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetMilestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X14th_Service_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X14th_Service_Milestone</name>
        <label>14th Service Milestone</label>
        <locationX>176</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>AssetMilestone.VehicleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VehicleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MDate72</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>14th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>14th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tentative</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.UsageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automotive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetMilestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X15th_Service_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X15th_Service_Milestone</name>
        <label>15th Service Milestone</label>
        <locationX>176</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>AssetMilestone.VehicleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VehicleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MDate78</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>15th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>15th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tentative</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.UsageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automotive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetMilestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X16th_Service_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X16th_Service_Milestone</name>
        <label>16th Service Milestone</label>
        <locationX>176</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>AssetMilestone.VehicleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VehicleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MDate84</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>16th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>16th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tentative</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.UsageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automotive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetMilestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X17th_Service_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X17th_Service_Milestone</name>
        <label>17th Service Milestone</label>
        <locationX>176</locationX>
        <locationY>2051</locationY>
        <assignmentItems>
            <assignToReference>AssetMilestone.VehicleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VehicleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MDate90</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>17th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>17th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tentative</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.UsageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automotive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetMilestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X18th_Service_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X18th_Service_Milestone</name>
        <label>18th Service Milestone</label>
        <locationX>176</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>AssetMilestone.VehicleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VehicleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MDate96</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>18th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>18th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tentative</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.UsageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automotive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetMilestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_3_Months_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1st_Service_Milestone</name>
        <label>1st Service Milestone</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>AssetMilestone.VehicleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VehicleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DDate45</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1st Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1st Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tentative</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.UsageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automotive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetMilestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X2nd_Service_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X2nd_Service_Milestone</name>
        <label>2nd Service Milestone</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>AssetMilestone.VehicleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VehicleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MDate3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2nd Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2nd Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tentative</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.UsageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automotive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetMilestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X3rd_Service_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X3rd_Service_Milestone</name>
        <label>3rd Service Milestone</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>AssetMilestone.VehicleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VehicleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MDate6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3rd Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3rd Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tentative</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.UsageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automotive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetMilestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X4th_Service_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X4th_Service_Milestone</name>
        <label>4th Service Milestone</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>AssetMilestone.VehicleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VehicleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MDate12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tentative</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.UsageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automotive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetMilestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X5th_Service_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X5th_Service_Milestone</name>
        <label>5th Service Milestone</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AssetMilestone.VehicleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VehicleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MDate18</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tentative</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.UsageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automotive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetMilestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X6th_Service_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X6th_Service_Milestone</name>
        <label>6th Service Milestone</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>AssetMilestone.VehicleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VehicleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MDate24</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tentative</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.UsageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automotive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetMilestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X7th_Service_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X7th_Service_Milestone</name>
        <label>7th Service Milestone</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>AssetMilestone.VehicleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VehicleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MDate30</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>7th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>7th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tentative</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.UsageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automotive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetMilestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X8th_Service_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X8th_Service_Milestone</name>
        <label>8th Service Milestone</label>
        <locationX>176</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>AssetMilestone.VehicleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VehicleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MDate36</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>8th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>8th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tentative</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.UsageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automotive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetMilestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X9th_Service_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X9th_Service_Milestone</name>
        <label>9th Service Milestone</label>
        <locationX>176</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>AssetMilestone.VehicleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VehicleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MDate42</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.MilestoneType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>9th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>9th Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tentative</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestone.UsageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automotive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetMilestones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetMilestone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X10th_Service_Milestone</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Custom_Error_Message_1</name>
        <label>Custom Error Message 1</label>
        <locationX>440</locationX>
        <locationY>2375</locationY>
        <customErrorMessages>
            <errorMessage>Milestone with the same vehicle and same service type are already exists.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <description>16-04-2024 - This flow will be used to create 3 Milestones (3,6 and 12 Months) for Service Remainders.
21-04-2024 - This flow will be used to create 12 Milestones (1 to 12 Service) for Service Remainders.
08-05-2024 -  This flow will be used to create 13 to 18 Milestones (13 to 18) for Service Reminders.
13-05-2024 -  Add Error msg while creation is not done successfully.</description>
    <environments>Default</environments>
    <formulas>
        <name>DDate45</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.MilestoneDate},1)+15</expression>
    </formulas>
    <formulas>
        <name>MDate12</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.MilestoneDate},12)</expression>
    </formulas>
    <formulas>
        <name>MDate18</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.MilestoneDate},18)</expression>
    </formulas>
    <formulas>
        <name>MDate24</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.MilestoneDate},24)</expression>
    </formulas>
    <formulas>
        <name>MDate3</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.MilestoneDate},3)</expression>
    </formulas>
    <formulas>
        <name>MDate30</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.MilestoneDate},30)</expression>
    </formulas>
    <formulas>
        <name>MDate36</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.MilestoneDate},36)</expression>
    </formulas>
    <formulas>
        <name>MDate42</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.MilestoneDate},42)</expression>
    </formulas>
    <formulas>
        <name>MDate48</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.MilestoneDate},48)</expression>
    </formulas>
    <formulas>
        <name>MDate54</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.MilestoneDate},54)</expression>
    </formulas>
    <formulas>
        <name>MDate6</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.MilestoneDate},6)</expression>
    </formulas>
    <formulas>
        <name>MDate60</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.MilestoneDate},60)</expression>
    </formulas>
    <formulas>
        <name>MDate66</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.MilestoneDate},66)</expression>
    </formulas>
    <formulas>
        <name>MDate72</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.MilestoneDate},72)</expression>
    </formulas>
    <formulas>
        <name>MDate78</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.MilestoneDate},78)</expression>
    </formulas>
    <formulas>
        <name>MDate84</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.MilestoneDate},84)</expression>
    </formulas>
    <formulas>
        <name>MDate90</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.MilestoneDate},90)</expression>
    </formulas>
    <formulas>
        <name>MDate96</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.MilestoneDate},96)</expression>
    </formulas>
    <interviewLabel>Create Asset Milestones {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Asset Milestones</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_3_Months_Milestone</name>
        <label>Create 3 Months Milestone</label>
        <locationX>176</locationX>
        <locationY>2267</locationY>
        <faultConnector>
            <targetReference>Custom_Error_Message_1</targetReference>
        </faultConnector>
        <inputReference>AssetMilestones</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X1st_Service_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MilestoneType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>AssetMilestone</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetMilestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssetMilestone</objectType>
    </variables>
    <variables>
        <name>AssetMilestones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssetMilestone</objectType>
    </variables>
</Flow>
