force-app/main/default/flows/Create_Task_from_Asset_Milestone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>AppointmentBooked</name>
        <choiceText>Appointment Booked</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Appointment Booked</stringValue>
        </value>
    </choices>
    <choices>
        <name>CallbackRequested</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Callback Requested&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Callback Requested</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unreachable</name>
        <choiceText>Unreachable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unreachable</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_for_Reschedule_Tasks</name>
        <label>Check for Reschedule Tasks</label>
        <locationX>479</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Error_Screen</targetReference>
            </connector>
            <label>Task Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Appointment_Booked</name>
        <label>Check if Appointment Booked</label>
        <locationX>908</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_Task_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Appointment_Booked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Feedback_By_Customer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appointment Booked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Primary_Contact</targetReference>
            </connector>
            <label>Appointment Booked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Contact_Found</name>
        <label>Check if Contact Found</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Create_Task_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Contact_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Primary Contact Not Found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>FeedbackByCustPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Feedback_by_Customer__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PriorityChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatusPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>NewTaskName</name>
        <dataType>String</dataType>
        <expression>{!recordId.Name} + IF(!ISBLANK({!Feedback_By_Customer}),&apos; - &apos; + {!Feedback_By_Customer} ,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>SADueDate</name>
        <dataType>Date</dataType>
        <expression>{!recordId.MilestoneDate} + {!recordId.Vehicle.Grace_Period__c}</expression>
    </formulas>
    <interviewLabel>Create Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Task from Asset Milestone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Task_Record</name>
        <label>Copy 1 of Create Task Record</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <faultConnector>
            <targetReference>Copy_1_of_Error_Creation_for_Task</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feedback_by_Customer__c</field>
            <value>
                <elementReference>Feedback_By_Customer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>recordId.VehicleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Appointment</name>
        <label>Create Service Appointment</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Update_Asset_Milestoner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Appointment_Date__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_Milestone__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Primary_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>SADueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>recordId.Vehicle.CurrentOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Centre__c</field>
            <value>
                <elementReference>recordId.Vehicle.CurrentOwner.Service_Center__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>recordId.VehicleId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Record</name>
        <label>Create Task Record</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Create_Service_Appointment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Creation_for_Task</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feedback_by_Customer__c</field>
            <value>
                <elementReference>Feedback_By_Customer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>recordId.VehicleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Primary_Contact</name>
        <label>Get Primary Contact</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Vehicle.CurrentOwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>479</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Reschedule_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Feedback_by_Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Appointment Booked</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset_Milestoner</name>
        <label>Update Asset Milestoner</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Appointment_Booked__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>AssetMilestone</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Error_Creation_for_Task</name>
        <label>Copy 1 of Error Creation for Task</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Something_wrong</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(208, 65, 65); background-color: rgb(255, 255, 255);&quot;&gt;Something went wrong. Please contact System Administrator&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Error_Screen</name>
        <label>Copy 1 of Error Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Morethan3TasksFound</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(199, 49, 49); background-color: rgb(255, 255, 255);&quot;&gt;You already have created the Appointment. Go to Service Appointment for further information.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_Appointment_Booked</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NewTaskName</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comment</name>
            <fieldText>Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <fieldText>Next Action Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(215, 25, 25);&quot; data-sider-select-id=&quot;00edfe3a-7be0-42f3-8a9b-8bd80914450d&quot;&gt;Please enter Valid date. The Valid date can be between Today and till next {!recordId.Vehicle.Grace_Period__c} Days of Service Due Date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND({!Due_Date}&gt;=TODAY(), {!Due_Date}&lt;={!recordId.MilestoneDate}+{!recordId.Vehicle.Grace_Period__c})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Feedback_By_Customer</name>
            <choiceReferences>AppointmentBooked</choiceReferences>
            <choiceReferences>CallbackRequested</choiceReferences>
            <choiceReferences>Unreachable</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Feedback By Customer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Wrong_SA_Creation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(208, 65, 65); background-color: rgb(255, 255, 255);&quot;&gt;Service Appointment task is already created but unfortunately deleted so you can not create Service Appointment.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Creation_for_Task</name>
        <label>Error Creation for Task</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Something_wrong</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(208, 65, 65); background-color: rgb(255, 255, 255);&quot;&gt;Something went wrong. Please contact System Administrator&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SA_Error</name>
            <fieldText>&lt;p data-sider-select-id=&quot;ebcdab8c-1939-4d45-846b-0b3d6c412ed0&quot; style=&quot;text-align: center;&quot;&gt;&lt;strong data-sider-select-id=&quot;e2e3d27a-3c43-4f07-840a-e981b07900ea&quot; style=&quot;color: rgb(208, 16, 16);&quot;&gt;An Error Occured while creating Service Appointment. Please check that Vehicle Owner is having an Primary Contact.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AssetMilestone</objectType>
    </variables>
</Flow>
