force-app/main/default/flows/Create_Payment_and_Order_Payment_Log_Payment_is_Cash.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Get_Record_Id</name>
        <label>Get Record Id</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>logpaymentRecordID1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cash_Create_Payment_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PaymentRecord_IdAssignment</name>
        <label>PaymentRecord IdAssignment</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>PaymentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cash_Create_Payment_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cash_Create_Order_Payment_Record</targetReference>
        </connector>
    </assignments>
    <description>Only When Record is getting Created</description>
    <environments>Default</environments>
    <interviewLabel>Create Payment and Order Payment - Log Payment is Cash {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Payment and Order Payment - Log Payment is Cash</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Cash_Create_Order_Payment_Record</name>
        <label>Cash - Create Order Payment Record</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Log_Payment__c</field>
            <value>
                <elementReference>logpaymentRecordID1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>$Record.Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payments__c</field>
            <value>
                <elementReference>PaymentRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Others</stringValue>
            </value>
        </inputAssignments>
        <object>Order_Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Cash_Create_Payment_Record</name>
        <label>Cash - Create Payment Record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>PaymentRecord_IdAssignment</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.Pay_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode_Of_Payment__c</field>
            <value>
                <elementReference>$Record.Payment_Mode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Of_Payment__c</field>
            <value>
                <stringValue>In Person</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment_Mode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cash</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <object>Payment_Split__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>logpaymentRecordID1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
