force-app/main/default/flows/Create_the_new_account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Address_Check</name>
        <label>Address Check</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>crate_contact_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Billing_and_Shipping_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Isbillingsameasshippingaddreess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_account_record</targetReference>
            </connector>
            <label>Billing and Shipping Same</label>
        </rules>
        <rules>
            <name>Billing_and_shipping_Different</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Isbillingsameasshippingaddreess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_account_record</targetReference>
            </connector>
            <label>Billing and shipping Different</label>
        </rules>
    </decisions>
    <decisions>
        <name>checked_the_status</name>
        <label>checked the status</label>
        <locationX>1238</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_status_is_draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_order_record_for_status.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Form</targetReference>
            </connector>
            <label>is status is draft</label>
        </rules>
        <rules>
            <name>other_than_draft</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_order_record_for_status.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_order_record_for_status.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_order_record_for_status.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_order_record_for_status.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Allotment in Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>tesy</targetReference>
            </connector>
            <label>other than draft</label>
        </rules>
        <rules>
            <name>Vehicle_owner_should_not_changed_after_this_stage</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_order_record_for_status.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RTO Registration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_order_record_for_status.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready For Delivery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_order_record_for_status.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vehicle Delivered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_order_record_for_status.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Should_not_changed_the_vehicle_owner</targetReference>
            </connector>
            <label>Vehicle owner should not changed after this stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_existing_account_phone_number</name>
        <label>Checking existing account phone number</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Record_phone_number_is_not_same_in_existing_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_account_phone_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_Check</targetReference>
            </connector>
            <label>Create Record phone number is not same in existing record</label>
        </rules>
        <rules>
            <name>phone_number_is_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_account_phone_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_present</targetReference>
            </connector>
            <label>phone number is present</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>EmailValidation</name>
        <dataType>Boolean</dataType>
        <expression> 

REGEX({!email2},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</expression>
    </formulas>
    <interviewLabel>Create the new account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create the new account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_account_record</name>
        <label>Copy 1 of Create account record</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>AccountId</assignRecordIdToReference>
        <connector>
            <targetReference>crate_contact_records</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Bill.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Bill.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Bill.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Bill.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Bill.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>ShippingAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>ShippingAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>ShippingAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>ShippingAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>ShippingAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>crate_contact_records</name>
        <label>crate contact records</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>GetOrderRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>email2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_account_record</name>
        <label>Create account record</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>AccountId</assignRecordIdToReference>
        <connector>
            <targetReference>crate_contact_records</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Bill.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Bill.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Bill.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Bill.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Bill.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Bill.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>Bill.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>Bill.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>Bill.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Bill.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Get_account_phone_records</name>
        <label>Get account phone records</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_existing_account_phone_number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_order_record_for_status</name>
        <label>get order  record for status</label>
        <locationX>1238</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checked_the_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrderRecord</name>
        <label>Get Order Record</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_order</name>
        <label>update order</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Suucess_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EMI_Amount__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Finance__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financed_Amount__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Start_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Tenure_Type__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Tenure__c</field>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <screens>
        <name>Account_Form</name>
        <label>New Owner creation</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_account_phone_records</targetReference>
        </connector>
        <fields>
            <name>Account_Form_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_Form_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>^[\d]{10,10}</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>email2</name>
                    <dataType>String</dataType>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Invalid Email ID&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!EmailValidation}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Address_Information</name>
            <fieldText>Address Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Address_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bill</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Billing Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Isbillingsameasshippingaddreess</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Is Shipping Address Same as Billing Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ShippingAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Shipping Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Isbillingsameasshippingaddreess</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Account_present</name>
        <label>Account present</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PresentAccountphonenumnber</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: serif; color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Account is already Present&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Should_not_changed_the_vehicle_owner</name>
        <label>Should not changed the vehicle owner</label>
        <locationX>1546</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Notchangedvehicleowner</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(150, 6, 6); font-size: 18px; font-family: serif;&quot;&gt;Vehicle ownership can not be changed after registration/order cancellation!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Suucess_screen</name>
        <label>Suucess screen</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SUCCESS</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(4, 121, 62); font-size: 16px; font-family: serif;&quot;&gt;Your Account has been created successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>tesy</name>
        <label>tesy</label>
        <locationX>1282</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>statuschange</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(157, 9, 9); font-size: 16px; font-family: serif;&quot;&gt;Change the Order Status to Draft&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_order_record_for_status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountPhone</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>OrderIdNew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
