force-app/main/default/flows/Custom_Email_and_Notification_When_Salesforce_Support_Ticket_Open_Or_Closed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_When_Salesforce_Support_Ticket_is_Assigned</name>
        <label>Copy 1 of When Salesforce Support Ticket is Assigned</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>When_Salesforce_Support_Ticket_Is_Assigned</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>AllDMSUsers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Salesforce Support Ticket Status Changed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Following Salesforce Support Ticket is assigned to Support Team</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_When_Salesforce_Support_Ticket_Is_Closed</name>
        <label>Send Email When Salesforce Support Ticket Is Closed</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <actionName>Salesforce_Support__c.When_Salesforce_Support_Ticket_is_Closed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>When_Salesforce_Support_Ticket_Is_Closed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Salesforce_Support__c.When_Salesforce_Support_Ticket_is_Closed</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_When_Salesforce_Support_Ticket_Is_Opened</name>
        <label>Send Email When Salesforce Support Ticket Is Opened</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>Salesforce_Support__c.When_Salesforce_Support_Ticket_is_Opened</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>When_Salesforce_Support_Ticket_Is_Opened</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Salesforce_Support__c.When_Salesforce_Support_Ticket_is_Opened</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>When_Salesforce_Support_Ticket_in_Progress</name>
        <label>When Salesforce Support Ticket Is In Progress</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <actionName>Salesforce_Support__c.When_Salesforce_Support_Ticket_Is_In_Progress</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Salesforce_Support__c.When_Salesforce_Support_Ticket_Is_In_Progress</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>When_Salesforce_Support_Ticket_Is_Assigned</name>
        <label>When Salesforce Support Ticket Is Assigned</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <actionName>Salesforce_Support__c.When_Salesforce_Support_Ticket_is_Assigned</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Salesforce_Support__c.When_Salesforce_Support_Ticket_is_Assigned</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>When_Salesforce_Support_Ticket_Is_Closed</name>
        <label>When Salesforce Support Ticket Is Closed</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>AllDMSUsers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Salesforce Support Ticket Is Closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Salesforce Support Ticket Has Been Marked Closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>When_Salesforce_Support_Ticket_Is_In_Progress</name>
        <label>When Salesforce Support Ticket Is In Progress</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>When_Salesforce_Support_Ticket_in_Progress</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>AllDMSUsers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Salesforce Support Ticket Status Changed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Salesforce Support Ticket is in progress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>When_Salesforce_Support_Ticket_Is_On_Hold</name>
        <label>When Salesforce Support Ticket Is On Hold</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <actionName>Salesforce_Support__c.When_Salesforce_Support_Ticket_is_On_Hold</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>When_Salesforce_Support_Ticket_On_Hold</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Salesforce_Support__c.When_Salesforce_Support_Ticket_is_On_Hold</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>When_Salesforce_Support_Ticket_Is_Opened</name>
        <label>When Salesforce Support Ticket Is Opened</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>AllSupportQueueUsers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Salesforce Support Ticket</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>New Salesforce Support Ticket Has Been Raised</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>When_Salesforce_Support_Ticket_On_Hold</name>
        <label>When Salesforce Support Ticket On Hold</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>AllDMSUsers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Ticket is On hold</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Salesforce Support Ticket Is On Hold Now</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Recepients_Ids_for_Queue</name>
        <label>Recepients Ids for Queue</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>AllSupportQueueUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recipient_Ids_For_DMS_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recipient_Ids_For_DMS_Users</name>
        <label>Recipient Ids For DMS Users</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>AllDMSUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Change_to_Opened_Or_closed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Status_Change_to_Opened_Or_closed</name>
        <label>Status Change to Opened Or closed</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>When_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_When_Salesforce_Support_Ticket_Is_Opened</targetReference>
            </connector>
            <label>When Open</label>
        </rules>
        <rules>
            <name>When_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_When_Salesforce_Support_Ticket_Is_Closed</targetReference>
            </connector>
            <label>When Closed</label>
        </rules>
        <rules>
            <name>When_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Salesforce_Support_Ticket_Is_In_Progress</targetReference>
            </connector>
            <label>When In Progress</label>
        </rules>
        <rules>
            <name>When_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_When_Salesforce_Support_Ticket_is_Assigned</targetReference>
            </connector>
            <label>When Assigned</label>
        </rules>
        <rules>
            <name>When_On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Salesforce_Support_Ticket_Is_On_Hold</targetReference>
            </connector>
            <label>When On Hold</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Custom Email and Notification When Salesforce Support Ticket Open Or Closed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom Email and Notification When Salesforce Support Ticket Open Or Closed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recepients_Ids_for_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesforce_Support_Ticket_Opened</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </connector>
        <object>Salesforce_Support__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllDMSUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllSupportQueueUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
