force-app/main/default/flows/Lead_assignment_to_Dealer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_if_Dealer_found</name>
        <label>Check if Dealer found</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dealer_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_user_details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Owner</targetReference>
            </connector>
            <label>Dealer found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead assignment to Dealer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead assignment to Dealer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_user_details</name>
        <label>Get user details</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Dealer_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dealer_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dealer_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Owner</name>
        <label>Update Lead Owner</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_user_details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_user_details</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
