force-app/main/default/flows/Lead_Owner_Sync_Test_Drive_Follow_Up.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Collection_to_Test_Drive_Records</name>
        <label>Assign Collection to Test Drive Records</label>
        <locationX>270</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>TestDriveRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Test_Drive_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Test_Drive_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Colllection_to_Follow_ups_Records</name>
        <label>Assign Colllection to Follow ups Records</label>
        <locationX>754</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>FollowUpRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Follow_Up_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Follow_Up_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Owner_to_Follow_Up</name>
        <label>Assign New Owner to Follow-Up</label>
        <locationX>754</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Follow_Up_Records.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Colllection_to_Follow_ups_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Owner_to_Test_Drive</name>
        <label>Assign New Owner to Test Drive</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Test_Drive_Records.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Collection_to_Test_Drive_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Colllection_to_Follow_ups_Records</name>
        <label>Copy 1 of Assign Colllection to Follow ups Records</label>
        <locationX>138</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>FollowUpRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_2_of_Loop_Through_Follow_Up_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Loop_Through_Follow_Up_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_New_Owner_to_Follow_Up</name>
        <label>Copy 1 of Assign New Owner to Follow-Up</label>
        <locationX>138</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>Copy_2_of_Loop_Through_Follow_Up_Records.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Colllection_to_Follow_ups_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Follow_up_exist_or_not</name>
        <label>Check Follow up  exist or not</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>follow_up_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Follow_up_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Loop_Through_Follow_Up_Records</targetReference>
            </connector>
            <label>follow up exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>556</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Test_Drive_Record_Exixst</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Test_Drive_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Test_Drive_Records</targetReference>
            </connector>
            <label>If Test Drive Record Exixst</label>
        </rules>
        <rules>
            <name>If_Follow_Up_Record_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Follow_up_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Follow_Up_Records</targetReference>
            </connector>
            <label>If Follow Up Record Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Lead Owner Sync - Test Drive &amp; Follow-Up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Owner Sync - Test Drive &amp; Follow-Up</label>
    <loops>
        <name>Copy_2_of_Loop_Through_Follow_Up_Records</name>
        <label>Copy 2 of Loop Through Follow-Up Records</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <collectionReference>Get_Follow_up_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_New_Owner_to_Follow_Up</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Update_Followu_Up</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Follow_Up_Records</name>
        <label>Loop Through Follow-Up Records</label>
        <locationX>666</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Follow_up_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Owner_to_Follow_Up</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Followu_Up</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Test_Drive_Records</name>
        <label>Loop Through Test Drive Records</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Test_Drive_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Owner_to_Test_Drive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Test_Drive</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Follow_up_Records</name>
        <label>Get Follow up Records</label>
        <locationX>556</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Follow_Up__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Test_Drive_Records</name>
        <label>Get Test Drive Records</label>
        <locationX>556</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Follow_up_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Test_Drive__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Followu_Up</name>
        <label>Copy 1 of Update Followu Up</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <inputReference>FollowUpRecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Followu_Up</name>
        <label>Update Followu Up</label>
        <locationX>666</locationX>
        <locationY>1055</locationY>
        <inputReference>FollowUpRecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Test_Drive</name>
        <label>Update Test Drive</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Check_Follow_up_exist_or_not</targetReference>
        </connector>
        <inputReference>TestDriveRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>430</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Test_Drive_Records</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>FollowUpRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Follow_Up__c</objectType>
    </variables>
    <variables>
        <name>TestDriveRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Test_Drive__c</objectType>
    </variables>
</Flow>
