force-app/main/default/flows/Lead_assignment_to_Dealers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_if_Dealer_found</name>
        <label>Check if Dealer found</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dealer_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_user_details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Dealer found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_if_Dealer_found</name>
        <label>Copy 1 of Check if Dealer found</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Dealer_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_user_details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Lead_Owner</targetReference>
            </connector>
            <label>Copy 1 of Dealer found</label>
        </rules>
    </decisions>
    <decisions>
        <name>new_Record</name>
        <label>new Record</label>
        <locationX>644</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newRec</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dealer_Allocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Dealer_found</targetReference>
            </connector>
            <label>New Lead</label>
        </rules>
        <rules>
            <name>OldRec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dealer_Allocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dealer_Allocation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Dealer_Allocation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_if_Dealer_found</targetReference>
            </connector>
            <label>Old Rec</label>
        </rules>
        <rules>
            <name>Update_Store_Names_and_City_is_Owner_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Manager (Partner)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Dealer_Name</targetReference>
            </connector>
            <label>Update Store Names and City is Owner is changed to other PS</label>
        </rules>
    </decisions>
    <description>Dealer Allocation checkbox added</description>
    <environments>Default</environments>
    <formulas>
        <name>newRec</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Lead assignment to Dealers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead assignment to Dealers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_City_Name</name>
        <label>get City Name</label>
        <locationX>974</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_Update_Lead_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_Service_Center__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Dealer_Name.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pin_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Dealer_Name</name>
        <label>get Dealer Name</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_City_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Center_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_user_Records.Dealer_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_user_details</name>
        <label>Get user details</label>
        <locationX>644</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>new_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dealer_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dealer_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_user_Records</name>
        <label>get user Records</label>
        <locationX>644</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_user_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Lead_Owner</name>
        <label>Copy 1 of Update Lead Owner</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Dealer_Code__c</field>
            <value>
                <elementReference>Get_user_details.Dealer_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_user_details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stores_Name__c</field>
            <value>
                <elementReference>Get_user_details.Contact.Account.Store_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Lead_Owner</name>
        <label>Copy 3 of Update Lead Owner</label>
        <locationX>974</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>get_City_Name.City__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Code__c</field>
            <value>
                <elementReference>get_user_Records.Dealer_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stores_Name__c</field>
            <value>
                <elementReference>get_user_Records.Contact.Account.Store_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_user_Records</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
