force-app/main/default/flows/Major_Survey_Feedback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Additional_Comments</name>
        <label>Additional Comments</label>
        <locationX>4224</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>AdditionalComment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survey_Questions_Loop.ResponseShortText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Survey_Questions_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Additional_Services_Or_Repairs</name>
        <label>Additional Services Or Repairs</label>
        <locationX>3432</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>AdditionalServicesOrRepairs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survey_Questions_Loop.ResponseShortText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Survey_Questions_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Communications</name>
        <label>Communications</label>
        <locationX>2112</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Communication</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survey_Questions_Loop.NumberValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Survey_Questions_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Customer_Name</name>
        <label>Customer Name</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>CustomerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survey_Questions_Loop.ResponseShortText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Survey_Questions_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>E_mail</name>
        <label>E mail</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survey_Questions_Loop.ResponseShortText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Survey_Questions_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Please_Specify</name>
        <label>Please Specify:</label>
        <locationX>1056</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>PleaseSpecify</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survey_Questions_Loop.ResponseShortText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Survey_Questions_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Price_Value</name>
        <label>Price/Value</label>
        <locationX>2640</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>PriceValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survey_Questions_Loop.NumberValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Survey_Questions_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pro_fessionalism</name>
        <label>Pro fessionalism</label>
        <locationX>2376</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Professionalism</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survey_Questions_Loop.NumberValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Survey_Questions_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q4_Specify</name>
        <label>Q4 Specify</label>
        <locationX>3168</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>NoPleaseSpecify</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survey_Questions_Loop.ResponseShortText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Survey_Questions_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Q5_Yes_Specify</name>
        <label>Q5 Yes Specify</label>
        <locationX>3696</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>YesPleaseSpecify</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survey_Questions_Loop.ResponseShortText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Survey_Questions_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Quality_Of_Work</name>
        <label>Quality Of Work</label>
        <locationX>1584</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>QualityOfWork</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survey_Questions_Loop.NumberValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Survey_Questions_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recommend_Our_Service</name>
        <label>Recommend Our Service</label>
        <locationX>3960</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>RecommendOurService</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survey_Questions_Loop.ResponseShortText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Survey_Questions_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Service_Performed</name>
        <label>Service Performed</label>
        <locationX>2904</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ServicePerformed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survey_Questions_Loop.ResponseShortText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Survey_Questions_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Service_Satisfaction</name>
        <label>Service Satisfaction</label>
        <locationX>1320</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ServiceSatisfaction</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survey_Questions_Loop.ResponseShortText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Survey_Questions_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timeliness_1</name>
        <label>Timeliness 1</label>
        <locationX>1848</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Timeliness</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survey_Questions_Loop.NumberValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Survey_Questions_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Type_Of_Service</name>
        <label>Type Of Service</label>
        <locationX>792</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>TypeOfService</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Survey_Questions_Loop.ResponseShortText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Survey_Questions_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Questions</name>
        <label>Questions</label>
        <locationX>2376</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Survey_Questions_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey_Questions_Loop.Question.QuestionName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Please Mention Name:</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Name</targetReference>
            </connector>
            <label>Name</label>
        </rules>
        <rules>
            <name>Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey_Questions_Loop.Question.QuestionName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Email:</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>E_mail</targetReference>
            </connector>
            <label>Mail</label>
        </rules>
        <rules>
            <name>Question1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey_Questions_Loop.Question.QuestionName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>What type of service did you receive for your electric two-wheeler?</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_Of_Service</targetReference>
            </connector>
            <label>Question1</label>
        </rules>
        <rules>
            <name>Q1_Specify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey_Questions_Loop.Question.QuestionName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Please Specify:</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_Specify</targetReference>
            </connector>
            <label>Q1 Specify</label>
        </rules>
        <rules>
            <name>Question2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey_Questions_Loop.Question.QuestionName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Was the service completed to your satisfaction?</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Satisfaction</targetReference>
            </connector>
            <label>Question2</label>
        </rules>
        <rules>
            <name>Question3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey_Questions_Loop.Question.QuestionName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Quality of Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quality_Of_Work</targetReference>
            </connector>
            <label>Question3</label>
        </rules>
        <rules>
            <name>Time_liness_Q3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey_Questions_Loop.Question.QuestionName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Timeliness:</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timeliness_1</targetReference>
            </connector>
            <label>Time liness Q3</label>
        </rules>
        <rules>
            <name>Communication_Q3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey_Questions_Loop.Question.QuestionName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Communication:</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Communications</targetReference>
            </connector>
            <label>Communication Q3</label>
        </rules>
        <rules>
            <name>Professionalism_Q3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey_Questions_Loop.Question.QuestionName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Professionalism:</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pro_fessionalism</targetReference>
            </connector>
            <label>Professionalism Q3</label>
        </rules>
        <rules>
            <name>Price_Or_Value_Q3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey_Questions_Loop.Question.QuestionName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Price/Value</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Price_Value</targetReference>
            </connector>
            <label>Price Or Value Q3</label>
        </rules>
        <rules>
            <name>Question4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey_Questions_Loop.Question.QuestionName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Did our team explain the service performed and answer your questions adequately?</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Performed</targetReference>
            </connector>
            <label>Question4</label>
        </rules>
        <rules>
            <name>Q5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey_Questions_Loop.Question.QuestionName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>If &quot;No,&quot; please specify your concerns:</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q4_Specify</targetReference>
            </connector>
            <label>Q4</label>
        </rules>
        <rules>
            <name>Question5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey_Questions_Loop.Question.QuestionName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Were there any additional services or repairs recommended by our technicians?</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Services_Or_Repairs</targetReference>
            </connector>
            <label>Question5</label>
        </rules>
        <rules>
            <name>Q5_Specify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey_Questions_Loop.Question.QuestionName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>If &quot;Yes,&quot; please specify:</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q5_Yes_Specify</targetReference>
            </connector>
            <label>Q5 Specify</label>
        </rules>
        <rules>
            <name>Question6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey_Questions_Loop.Question.QuestionName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>How likely are you to recommend our service to others?</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recommend_Our_Service</targetReference>
            </connector>
            <label>Question6</label>
        </rules>
        <rules>
            <name>Question7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey_Questions_Loop.Question.QuestionName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Please share any additional comments, suggestions, or concerns about your experience with our service:</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Comments</targetReference>
            </connector>
            <label>Question7</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Survey_Feedback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Major_Survey_Feedback</label>
    <loops>
        <name>Survey_Questions_Loop</name>
        <label>Survey Questions Loop</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Survey_Question_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Questions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Major_Record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_feedback</name>
        <label>create feedback</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Contact_Records.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_Comments__c</field>
            <value>
                <elementReference>AdditionalComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_Services_Or_Repairs__c</field>
            <value>
                <elementReference>AdditionalServicesOrRepairs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Communication__c</field>
            <value>
                <elementReference>Communication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CustomerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Please_Specify_Your_Concerns__c</field>
            <value>
                <elementReference>NoPleaseSpecify</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Please_Specify__c</field>
            <value>
                <elementReference>PleaseSpecify</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Value__c</field>
            <value>
                <elementReference>PriceValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Professionalism__c</field>
            <value>
                <elementReference>Professionalism</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quality_Of_Work__c</field>
            <value>
                <elementReference>QualityOfWork</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommend_Our_Service__c</field>
            <value>
                <elementReference>RecommendOurService</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Major_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Performed__c</field>
            <value>
                <elementReference>ServicePerformed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_liness__c</field>
            <value>
                <elementReference>Timeliness</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Of_Service__c</field>
            <value>
                <elementReference>TypeOfService</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>getting_work_order_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>please_specifys__c</field>
            <value>
                <elementReference>YesPleaseSpecify</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>service__c</field>
            <value>
                <elementReference>ServiceSatisfaction</elementReference>
            </value>
        </inputAssignments>
        <object>Feedback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Contact_Records</name>
        <label>Contact Records</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getting_work_order_record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>CustomerName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getting_work_order_record</name>
        <label>getting work order record</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_feedback</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Major_Record_Type</name>
        <label>Major Record Type</label>
        <locationX>176</locationX>
        <locationY>923</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Major</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Survey_Question_Records</name>
        <label>Survey Question Records</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Survey_Questions_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ResponseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SurveyQuestionResponse</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Survey_Question_Records</targetReference>
        </connector>
        <object>SurveyResponse</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AdditionalComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdditionalComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdditionalServicesOrRepairs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Communication</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CustomerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Feedback</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoPleaseSpecify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PleaseSpecify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PriceValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Professionalism</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>QualityOfWork</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RecommendOurService</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServicePerformed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceSatisfaction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Timeliness</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TypeOfService</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YesPleaseSpecify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
