force-app/main/default/flows/Order_Product_Before_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Order_Product_Type</name>
        <label>Set Order Product Type</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product2.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Types</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Custom_Error_Message_2</name>
        <label>Custom Error Message 2</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <customErrorMessages>
            <errorMessage>The quantity should be 1 if the type is Vehicle or Extended Warranty.</errorMessage>
            <fieldSelection>Quantity</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_The_duplicates</name>
        <label>Check The duplicates</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quantity_is_More_than_1</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vehicle</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extended Warranty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Error_Message_2</targetReference>
            </connector>
            <label>Quantity is More than 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Types</name>
        <label>Check Types</label>
        <locationX>380</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vehicle_Extended_Warranty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extended Warranty</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vehicle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_the_Order_Products_Under_Order</targetReference>
            </connector>
            <label>Vehicle/Extended Warranty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Order Product - Before Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Product - Before Create/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_the_Order_Products_Under_Order</name>
        <label>Get all the Order Products Under Order</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_The_duplicates</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vehicle</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Extended Warranty</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Order_Product_Type</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ExtendedWarrantyPresent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VehiclePresent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
