force-app/main/default/flows/Order_Before_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Owner</name>
        <label>Assign Owner</label>
        <locationX>1744</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Portal_Owner_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pricebook</name>
        <label>Assign Pricebook</label>
        <locationX>446</locationX>
        <locationY>3635</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_City_Details.Price_Book__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_if_assign_vehicle_exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Standard_Pricebook</name>
        <label>Assign Standard Pricebook</label>
        <locationX>1238</locationX>
        <locationY>3851</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_PriceBook.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_if_assign_vehicle_exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_subsidy_amount</name>
        <label>Assign the subsidy amount</label>
        <locationX>1106</locationX>
        <locationY>4451</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subsidy_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Invoice_Generated</name>
        <label>Invoice Generated</label>
        <locationX>1865</locationX>
        <locationY>2927</locationY>
        <assignmentItems>
            <assignToReference>$Record.Invoice_Generated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>City_Added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_the_status</name>
        <label>Reset the status</label>
        <locationX>2954</locationX>
        <locationY>4343</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Previous_Status__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_activated_details_to_order</name>
        <label>Update activated details to order</label>
        <locationX>2063</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>$Record.ActivatedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ActivatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Acc_Parts_Offers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_order_stage_to_Allottmet</name>
        <label>Update order stage to Allottmet</label>
        <locationX>2426</locationX>
        <locationY>4451</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Allotment in Process</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_the_Old_status</name>
        <label>Update the Old status</label>
        <locationX>578</locationX>
        <locationY>4343</locationY>
        <assignmentItems>
            <assignToReference>$Record.Previous_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_the_order_stage_to_Pre_Invoice</name>
        <label>Update the order stage to Pre Invoice</label>
        <locationX>2162</locationX>
        <locationY>4451</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pre Invoice</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_the_order_status_as_Payment_Pending</name>
        <label>Update the order status as Payment Pending</label>
        <locationX>2690</locationX>
        <locationY>4451</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payment Pending</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_the_Preferred_seller</name>
        <label>Update the Preferred seller</label>
        <locationX>2063</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Dealer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_all_order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_subsidy_details</name>
        <label>Update the subsidy details</label>
        <locationX>842</locationX>
        <locationY>4451</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subsidy_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subsidy__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <customErrors>
        <name>Acc_Offer_Error</name>
        <label>Acc Offer Error</label>
        <locationX>1909</locationX>
        <locationY>2219</locationY>
        <customErrorMessages>
            <errorMessage>Please add Accessories/Parts to the order to add the discount.</errorMessage>
            <fieldSelection>Accessories_Discount_Amount__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Cancel_Error</name>
        <label>Cancel Error</label>
        <locationX>314</locationX>
        <locationY>4343</locationY>
        <customErrorMessages>
            <errorMessage>Can not cancel the order after Vehicle Registration.</errorMessage>
            <fieldSelection>Status</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Invoices_Error</name>
        <label>Invoices Error</label>
        <locationX>2129</locationX>
        <locationY>2927</locationY>
        <customErrorMessages>
            <errorMessage>Please generate invoice records before coming to this stage.</errorMessage>
            <fieldSelection>Status</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Price_Book_Error</name>
        <label>Price Book Error</label>
        <locationX>974</locationX>
        <locationY>3635</locationY>
        <customErrorMessages>
            <errorMessage>The Price Book associated with the selected city is not active! Please ensure the Price Book is active before proceeding.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Price_Book_not_set_error</name>
        <label>Price Book not set error</label>
        <locationX>710</locationX>
        <locationY>3635</locationY>
        <customErrorMessages>
            <errorMessage>No Price Book has been set for the selected city. Please assign a Price Book before proceeding.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Vehicle_is_already</name>
        <label>Vehicle is alreadyExist</label>
        <locationX>50</locationX>
        <locationY>4235</locationY>
        <customErrorMessages>
            <errorMessage>Vehicle {!$Record.Assigned_Vehicle__r.Name}
is associated with different order</errorMessage>
            <fieldSelection>Assigned_Vehicle__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Added_preferred_seller</name>
        <label>Added preferred seller?</label>
        <locationX>2195</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Portal_Owner_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes1</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dealer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dealer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Acc_Parts_Offers</name>
        <label>Check Acc/Parts Offers</label>
        <locationX>2195</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Check_the_stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Offers_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Accessories_Discount_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parts_Accessories_Order_Items</targetReference>
            </connector>
            <label>Offers Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_and_Decide_the_Path</name>
        <label>Check and Decide the Path</label>
        <locationX>1766</locationX>
        <locationY>4235</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_cancellation_validation</name>
            <conditionLogic>(1 AND 2) AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RTO Registration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready To Delivery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vehicle Delivered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Error</targetReference>
            </connector>
            <label>Order cancellation validation</label>
        </rules>
        <rules>
            <name>Order_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Old_status</targetReference>
            </connector>
            <label>Order Cancelled</label>
        </rules>
        <rules>
            <name>Subsidy_flow</name>
            <conditionLogic>(1 AND 3) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligible_For_Subsidy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligible_For_Subsidy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Eligible_For_Subsidy__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_Eligibility</targetReference>
            </connector>
            <label>Subsidy flow</label>
        </rules>
        <rules>
            <name>Company_Warehouse_Check_flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Company_warehouse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company_warehouse__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Waiting_Periods__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Time_Period__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Metadata_Of_Waiting_Period</targetReference>
            </connector>
            <label>Company Warehouse Check flow</label>
        </rules>
        <rules>
            <name>Update_Stage_on_vehicle_allotment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_Vehicle__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Payment</targetReference>
            </connector>
            <label>Update Stage on vehicle allotment</label>
        </rules>
        <rules>
            <name>Order_cancel_request_approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cancellation_Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_the_status</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Order cancel request approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_fetched_part</name>
        <label>Check fetched part</label>
        <locationX>2041</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>Check_the_stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>product_not_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parts_Accessories_Order_Items.OrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acc_Offer_Error</targetReference>
            </connector>
            <label>product not present</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_assign_vehicle_exit</name>
        <label>check if assign vehicle exit</label>
        <locationX>908</locationX>
        <locationY>4127</locationY>
        <defaultConnector>
            <targetReference>Check_and_Decide_the_Path</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_all_order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_is_already</targetReference>
            </connector>
            <label>if yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Payment</name>
        <label>Check Payment</label>
        <locationX>2426</locationX>
        <locationY>4343</locationY>
        <defaultConnector>
            <targetReference>Update_the_order_status_as_Payment_Pending</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Amount_paid__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Grand_Total__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_Vehicle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_order_stage_to_Pre_Invoice</targetReference>
            </connector>
            <label>Payment Done</label>
        </rules>
        <rules>
            <name>Vehicle_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_Vehicle__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_Vehicle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_order_stage_to_Allottmet</targetReference>
            </connector>
            <label>Vehicle Removed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Eligibility</name>
        <label>Check the Eligibility</label>
        <locationX>1238</locationX>
        <locationY>4343</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_not_eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Eligible_For_Subsidy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_subsidy_details</targetReference>
            </connector>
            <label>If not eligible</label>
        </rules>
        <rules>
            <name>Missing_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subsidy_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_subsidy_amount</targetReference>
            </connector>
            <label>Missing Subsidy Amount</label>
        </rules>
        <rules>
            <name>Missing_the_Subsidy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subsidy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Missing the Subsidy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Invoices</name>
        <label>Check the Invoices</label>
        <locationX>1997</locationX>
        <locationY>2819</locationY>
        <defaultConnector>
            <targetReference>Invoices_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Invoice_Records</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_Generated</targetReference>
            </connector>
            <label>present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_order_status</name>
        <label>Check the order status</label>
        <locationX>2195</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Check_Acc_Parts_Offers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_activated_details_to_order</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Status is Activated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_stage</name>
        <label>Check the stage</label>
        <locationX>2195</locationX>
        <locationY>2603</locationY>
        <defaultConnector>
            <targetReference>City_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RTO_Registration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RTO Registration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Invoice_Records</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>RTO Registration</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_user</name>
        <label>Check user</label>
        <locationX>1876</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Portal_Owner_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner</targetReference>
            </connector>
            <label>User present</label>
        </rules>
    </decisions>
    <decisions>
        <name>City_Added</name>
        <label>City Added?</label>
        <locationX>2195</locationX>
        <locationY>3311</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Standard_PriceBook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.City__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_City_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dealer_Details_Found</name>
        <label>Dealer Details Found?</label>
        <locationX>908</locationX>
        <locationY>3527</locationY>
        <defaultConnector>
            <targetReference>Get_Standard_PriceBook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_City_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_City_Details.Price_Book__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_City_Details.Price_Book__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pricebook</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Price_Book_Not_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_City_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_City_Details.Price_Book__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Price_Book_not_set_error</targetReference>
            </connector>
            <label>Price Book Not set</label>
        </rules>
        <rules>
            <name>Price_Book_is_not_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_City_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_City_Details.Price_Book__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_City_Details.Price_Book__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Price_Book_Error</targetReference>
            </connector>
            <label>Price Book is not active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Portal_Owner_Created</name>
        <label>Portal Owner Created</label>
        <locationX>2195</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>get_all_order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsPortalEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dealer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Preferred_seller</targetReference>
            </connector>
            <label>Outcome 1 of Decision 6</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Contact_Present</name>
        <label>Primary Contact Present?</label>
        <locationX>2030</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Portal_Owner_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Standard_PriceBook_Present</name>
        <label>Standard PriceBook Present?</label>
        <locationX>1370</locationX>
        <locationY>3743</locationY>
        <defaultConnector>
            <targetReference>check_if_assign_vehicle_exit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Standard_PriceBook</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Standard_Pricebook</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Order validations and field updates</description>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Order - Before Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order - Before Create/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Invoice_Records</name>
        <label>Get All Invoice Records</label>
        <locationX>1997</locationX>
        <locationY>2711</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_Invoices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_order</name>
        <label>get all order</label>
        <locationX>2195</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_order_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assigned_Vehicle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Assigned_Vehicle__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Assigned_Vehicle__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_City_Details</name>
        <label>Get  City Details</label>
        <locationX>908</locationX>
        <locationY>3419</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dealer_Details_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>City__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>2030</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Contact_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dealer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Metadata_Of_Waiting_Period</name>
        <label>Get Metadata Of Waiting Period</label>
        <locationX>1898</locationX>
        <locationY>4343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_the_Waiting_Period</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Under_Manufacturing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Waiting_Period__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parts_Accessories_Order_Items</name>
        <label>Get Parts/Accessories Order Items</label>
        <locationX>2041</locationX>
        <locationY>2003</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_fetched_part</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parts</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accessories</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_PriceBook</name>
        <label>Get Standard PriceBook</label>
        <locationX>1370</locationX>
        <locationY>3635</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Standard_PriceBook_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>1876</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dealer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Waiting_Period</name>
        <label>Update the Waiting Period</label>
        <locationX>1898</locationX>
        <locationY>4451</locationY>
        <inputAssignments>
            <field>Time_Period__c</field>
            <value>
                <elementReference>Get_Metadata_Of_Waiting_Period.Time_Period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waiting_Periods__c</field>
            <value>
                <elementReference>Get_Metadata_Of_Waiting_Period.Waiting_Period__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2069</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Added_preferred_seller</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
