force-app/main/default/flows/Purchase_Order_Automation_Based_On_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment not delivered</label>
        <locationX>666</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Order_Not_Delivered</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iteration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_status</name>
        <label>assignment status</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>delivedOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iteration</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Variable</name>
        <label>check Variable</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>all_status_are_deliverd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Not_Delivered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>purchase_Order_update_when_all_order_are_deliverd</targetReference>
            </connector>
            <label>all status are deliverd</label>
        </rules>
        <rules>
            <name>Any_Order_is_Delivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>delivedOrder</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>purchase_Order_update_when_any_order_is_deliverd</targetReference>
            </connector>
            <label>Any Order is Delivered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_Reords_Related_to_Order_purchase_Order</targetReference>
            </connector>
            <label>Outcome 1 of Decision 1</label>
        </rules>
        <rules>
            <name>Status_Equal_to_Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <label>Status Equal to Activated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_2</name>
        <label>Decision 2</label>
        <locationX>534</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assignment_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Deliverd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iteration.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_status</targetReference>
            </connector>
            <label>Status Deliverd</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Purchase Order Automation Based On Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchase Order Automation Based On Orders</label>
    <loops>
        <name>iteration</name>
        <label>iteration</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_all_Reords_Related_to_Order_purchase_Order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_Variable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Reords_Related_to_Order_purchase_Order</name>
        <label>Get all Reords Related to Order purchase Order</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iteration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Purchase_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>purchase_Order_update_when_all_order_are_deliverd</name>
        <label>purchase Order update when all order are deliverd</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Purchase_Order__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Complete Fulfilment</stringValue>
            </value>
        </inputAssignments>
        <object>ProductRequest</object>
    </recordUpdates>
    <recordUpdates>
        <name>purchase_Order_update_when_any_order_is_deliverd</name>
        <label>purchase Order update when any order is  deliverd</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Purchase_Order__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Partial Fulfilment</stringValue>
            </value>
        </inputAssignments>
        <object>ProductRequest</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>delivedOrder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Order_Not_Delivered</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
