force-app/main/default/flows/Service_Appointment_Before_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Warehouse_Ids</name>
        <label>Assign Warehouse Ids</label>
        <locationX>666</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>WarehouseIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_warehouse.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_warehouse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Warehouse_Ids</name>
        <label>Copy 1 of Assign Warehouse Ids</label>
        <locationX>2514</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>WarehouseIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Loop_warehouse.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_warehouse</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Warehouse_Id_list</name>
        <label>Check Warehouse Id list</label>
        <locationX>578</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Update_Records_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Warehouse_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WarehouseIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inventory_records</targetReference>
            </connector>
            <label>Warehouse present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Available_Quantity</name>
        <label>Checking Available Quantity</label>
        <locationX>314</locationX>
        <locationY>1019</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inventory_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Available</targetReference>
            </connector>
            <label>Existed</label>
        </rules>
        <rules>
            <name>Not_Existed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inventory_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Available</targetReference>
            </connector>
            <label>Not Existed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Warehouse_Id_list</name>
        <label>Copy 1 of Check Warehouse Id list</label>
        <locationX>2426</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Records_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Warehouse_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WarehouseIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Inventory_records</targetReference>
            </connector>
            <label>Copy 1 of Warehouse present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Checking_Available_Quantity</name>
        <label>Copy 1 of Checking Available Quantity</label>
        <locationX>2162</locationX>
        <locationY>1319</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Existed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Inventory_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Available</targetReference>
            </connector>
            <label>Copy 1 of Existed</label>
        </rules>
        <rules>
            <name>Copy_1_of_Not_Existed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Inventory_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Not_Available</targetReference>
            </connector>
            <label>Copy 1 of Not Existed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Distance_Range</name>
        <label>Copy 1 of Distance Range</label>
        <locationX>2426</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Warehouse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Above_300</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Distance_Range__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&gt;300KM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Service_Vehicle</targetReference>
            </connector>
            <label>Copy 1 of Above 300</label>
        </rules>
        <rules>
            <name>Copy_1_of_Below_300</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Distance_Range__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&lt;300KM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_River_Indie</targetReference>
            </connector>
            <label>Copy 1 of Below 300</label>
        </rules>
    </decisions>
    <decisions>
        <name>Distance_Range</name>
        <label>Distance Range</label>
        <locationX>1370</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Above_300</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Distance_Range__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&gt;300KM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Vehicle</targetReference>
            </connector>
            <label>Above 300</label>
        </rules>
        <rules>
            <name>Below_300</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Distance_Range__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&lt;300KM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>River_Indie</targetReference>
            </connector>
            <label>Below 300</label>
        </rules>
    </decisions>
    <decisions>
        <name>Spare_vehicle_and_RSA</name>
        <label>Spare vehicle and RSA</label>
        <locationX>1766</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Spare_Vehicle_true</name>
            <conditionLogic>(1 AND 2 AND (3 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Spare_Vehicle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RSA_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Distance_Range__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Warehouse</targetReference>
            </connector>
            <label>Spare Vehicle true</label>
        </rules>
        <rules>
            <name>RSA_True</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RSA_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Spare_Vehicle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RSA_Required__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Distance_Range__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Distance_Range</targetReference>
            </connector>
            <label>RSA True</label>
        </rules>
        <rules>
            <name>Both_are_True</name>
            <conditionLogic>1 AND 2 AND (3 OR (4 OR 5 OR 6))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Spare_Vehicle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RSA_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RSA_Required__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Spare_Vehicle__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Vehicle__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Distance_Range</targetReference>
            </connector>
            <label>Both are True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Service Appointment - Before Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment - Before Update</label>
    <loops>
        <name>Copy_1_of_Loop_warehouse</name>
        <label>Copy 1 of Loop warehouse</label>
        <locationX>2426</locationX>
        <locationY>803</locationY>
        <collectionReference>Copy_1_of_Get_Warehouse</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_Warehouse_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Check_Warehouse_Id_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_warehouse</name>
        <label>Loop warehouse</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <collectionReference>Get_Warehouse</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Warehouse_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Warehouse_Id_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Warehouse</name>
        <label>Copy 1 of Get Warehouse</label>
        <locationX>2426</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Loop_warehouse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Centre__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Warehouse__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Inventory_records</name>
        <label>Copy 1 of Inventory records</label>
        <locationX>2162</locationX>
        <locationY>1211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Checking_Available_Quantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spare Vehicle</stringValue>
            </value>
        </filters>
        <filters>
            <field>Available_Quantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Warehouse__c</field>
            <operator>In</operator>
            <value>
                <elementReference>WarehouseIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory_Lot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Warehouse</name>
        <label>Get Warehouse</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_warehouse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Centre__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Warehouse__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Inventory_records</name>
        <label>Inventory records</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_Available_Quantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spare Vehicle</stringValue>
            </value>
        </filters>
        <filters>
            <field>Available_Quantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Warehouse__c</field>
            <operator>In</operator>
            <value>
                <elementReference>WarehouseIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory_Lot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Available</name>
        <label>Available</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>Inventory_Lot__c</field>
            <value>
                <elementReference>Inventory_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spare_Vehicle_Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Available</name>
        <label>Copy 1 Available</label>
        <locationX>1898</locationX>
        <locationY>1427</locationY>
        <inputAssignments>
            <field>Inventory_Lot__c</field>
            <value>
                <elementReference>Copy_1_of_Inventory_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spare_Vehicle_Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Not_Available</name>
        <label>Copy 1 of Not Available</label>
        <locationX>2162</locationX>
        <locationY>1427</locationY>
        <inputAssignments>
            <field>Spare_Vehicle_Status__c</field>
            <value>
                <stringValue>Not Available</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_River_Indie</name>
        <label>Copy 1 of River Indie</label>
        <locationX>2426</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Warehouse</targetReference>
        </connector>
        <inputAssignments>
            <field>Service_Vehicle__c</field>
            <value>
                <stringValue>River Indie Service Vehicle</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Records_9</name>
        <label>Copy 1 of Update Records 9</label>
        <locationX>2690</locationX>
        <locationY>1211</locationY>
        <inputAssignments>
            <field>Spare_Vehicle_Status__c</field>
            <value>
                <stringValue>Not Available</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Service_Vehicle</name>
        <label>Copy 1 of Update Service Vehicle</label>
        <locationX>2162</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Warehouse</targetReference>
        </connector>
        <inputAssignments>
            <field>Service_Vehicle__c</field>
            <value>
                <stringValue>Tow Truck</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Not_Available</name>
        <label>Not Available</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>Spare_Vehicle_Status__c</field>
            <value>
                <stringValue>Not Available</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>River_Indie</name>
        <label>River Indie</label>
        <locationX>1370</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Service_Vehicle__c</field>
            <value>
                <stringValue>River Indie Service Vehicle</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_9</name>
        <label>Update Records 9</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Spare_Vehicle_Status__c</field>
            <value>
                <stringValue>Not Available</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Vehicle</name>
        <label>Update Service Vehicle</label>
        <locationX>1106</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Service_Vehicle__c</field>
            <value>
                <stringValue>Tow Truck</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Spare_vehicle_and_RSA</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>WarehouseIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
