force-app/main/default/flows/Shipment_Creation_Email_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Shipment_Creation_Email_Flow1</name>
        <label>Shipment Creation Email Flow</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Shipment.Shipment_Creation_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Shipment.Shipment_Creation_Email</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Shipment_Invoice_Email</name>
        <label>Shipment Invoice Email</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Shipment.Shipment_Invoice_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Shipment.Shipment_Invoice_Email_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISRecordisNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shipment_Creation_Email_Flow1</targetReference>
            </connector>
            <label>Record is New</label>
        </rules>
        <rules>
            <name>Invoice_Details_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Invoice_No__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shipment_Invoice_Email</targetReference>
            </connector>
            <label>Invoice Details changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISRecordisNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Shipment Creation Email Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shipment Creation Email Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <object>Shipment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
