force-app/main/default/flows/SoldmilestoneWithoutOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Error</name>
        <label>Error</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>You can&apos;t complete &quot;Sold Milestone&quot; without an order associate to it</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asset_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>Asset Not Exist</label>
        </rules>
    </decisions>
    <description>When user is trying to complete &quot;Sold Milestone&quot; without an order associate to it, then it should throw an error stating the same</description>
    <environments>Default</environments>
    <interviewLabel>SoldmilestoneWithoutOrder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sold milestone Without Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assigned_Vehicle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetVehicle.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVehicle</name>
        <label>GetVehicle</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicle</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetVehicle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MilestoneType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sold</stringValue>
            </value>
        </filters>
        <object>AssetMilestone</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
