force-app/main/default/flows/Task_Creation_for_Shipment_for_Warehouse_when_utr_closed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Order_UTR_Verification_Done_Email_to_Watehouse_Alert</name>
        <label>Order UTR Verification Done Email to Watehouse Alert</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>Order.Order_UTR_Verification_Done_Email_to_Watehouse_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task_Creation_for_Warehouse_User_to_Create_Shipment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Order__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Order.Order_UTR_Verification_Done_Email_to_Watehouse_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Create a shipment task for warehouse user when the UTR Verification task is closed by Finance user</description>
    <environments>Default</environments>
    <interviewLabel>Task Creation for Shipment for Warehouse when utr closed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Creation for Warehouse User for Creating Shipment when finance closed the utr Verification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Task_Creation_for_Warehouse_User_to_Create_Shipment</name>
        <label>Task Creation for Warehouse User to Create Shipment</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>$Record.Order__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005J4000000hz6HIAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order__c</field>
            <value>
                <elementReference>$Record.Purchase_Order__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Create a Shipment </stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Packing</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Order__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Order_UTR_Verification_Done_Email_to_Watehouse_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>PO_Payments__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
