force-app/main/default/flows/Trigger_on_Product_Transfer_To_Update_Daily_Ledger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>This assignment updates the Daily ledger as the related Product transfer record field :Quantity_Recieved__c updates.</description>
        <name>Update_the_Quantity_in_Ledger</name>
        <label>Update the Quantity in Ledger</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Daily_Ledger_Record.Intake_Quantity__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.QuantityReceived</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Daily_Ledger_Record_Check_Before_Updating</name>
        <label>Daily Ledger Record Check Before Updating</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Daily_Ledger_Record_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Daily_Ledger_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Quantity_in_Ledger</targetReference>
            </connector>
            <label>Record Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Trigger on Product Transfer To Update Daily Ledger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trigger on Product Transfer To Update Daily Ledger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Daily_Ledger_Record_Creation</name>
        <label>Daily Ledger Record Creation</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Product_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>Destination_Location__c</field>
            <value>
                <elementReference>$Record.DestinationLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Quantity__c</field>
            <value>
                <elementReference>$Record.QuantityReceived</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ledger_Date__c</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Location__c</field>
        </inputAssignments>
        <object>Daily_Ledger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>this field is soqled to check whether the record for perticular product exists or not.</description>
        <name>Daily_Ledger_Record</name>
        <label>Daily Ledger Record</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Daily_Ledger_Record_Check_Before_Updating</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Destination_Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DestinationLocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Ledger_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Daily_Ledger__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Order</name>
        <label>Update Product Order</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Daily_Ledger__c</field>
            <value>
                <elementReference>Daily_Ledger_Record_Creation</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records 2</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputReference>Daily_Ledger_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Daily_Ledger_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuantityReceived</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ProductTransfer</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>QuantityAdded</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Variable to track the sum of Quantity</description>
        <name>SumofQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
