force-app/main/default/flows/Update_CGST_SGST_on_Order_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_CGST_SGST_Amount</name>
        <label>Check CGST &amp; SGST Amount</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CGST_amount_exist</name>
            <conditionLogic>(1 AND  2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CGST_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CGST_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SGST_amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SGST_amount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update</targetReference>
            </connector>
            <label>CGST amount exist</label>
        </rules>
        <rules>
            <name>SGST_Amount_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SGST_amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SGST_amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>SGST Amount exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update CGST &amp; SGST on Order Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update CGST &amp; SGST on Order Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update</name>
        <label>Update CGST</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_SGST</targetReference>
        </connector>
        <inputAssignments>
            <field>CGST_Amount_rollup__c</field>
            <value>
                <elementReference>$Record.CGST_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchandise_CGST_Amount__c</field>
            <value>
                <elementReference>$Record.Merchandise_CGST__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchandise_Disccount_Amount__c</field>
            <value>
                <elementReference>$Record.Discounted_Amount_on_Merchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Accessories_CGST</name>
        <label>Update Accessories CGST</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Accessories_SGST</targetReference>
        </connector>
        <inputAssignments>
            <field>Accessories_CGST_Rollup__c</field>
            <value>
                <elementReference>$Record.Accessories_CGST__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Accessories_SGST</name>
        <label>Update Accessories SGST</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Accessories_SGST_Rollup__c</field>
            <value>
                <elementReference>$Record.Accessories_SGST__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SGST</name>
        <label>Update SGST</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Accessories_CGST</targetReference>
        </connector>
        <inputAssignments>
            <field>SGST_Amount_Rollup__c</field>
            <value>
                <elementReference>$Record.SGST_amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_CGST_SGST_Amount</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
