force-app/main/default/flows/Update_Amount_Paid_On_Po_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Grand_Total</name>
        <label>Assign Grand Total</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>CurrentPO.Amount_Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PO_Grand_Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_the_PO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_a_variable</name>
        <label>Assign to a variable</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>CurrentPO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_PO_Payment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Grand_Total</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_PO_Exists</name>
        <label>If PO Exists</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_PO_Payment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_a_variable</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Amount Paid On Po Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Amount Paid On Po Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_the_PO_Payment</name>
        <label>Get the PO Payment</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_PO_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PO_Payments__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_the_PO</name>
        <label>update the PO</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputReference>CurrentPO</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_PO_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PO_Grand_Total__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PO_Grand_Total__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PO_Payments__c</objectType>
    </variables>
</Flow>
