force-app/main/default/flows/update_status_as_Test_ride_re_scheduled_if_it_is_not_completed_and_cancel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>if_records_are_there</name>
        <label>if records are there</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records_are_there</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_test_drive_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Follow_up_if_the_test_ride_is_not_Completed</targetReference>
            </connector>
            <label>Records are there</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>oldDateRec</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>update status as Test ride re-scheduled if it is not completed and cancel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test ride booked and not completed - Create followup task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_follow_up</name>
        <label>Create follow-up</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Create_Follow_up_if_the_test_ride_is_not_Completed</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_test_drive_records</name>
        <label>get test drive records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_records_are_there</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Test_Drive_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>oldDateRec</elementReference>
            </value>
        </filters>
        <filters>
            <field>Test_Drive_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Test_Drive_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Test_Drive_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>No Show</stringValue>
            </value>
        </filters>
        <filters>
            <field>Test_Drive_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reschedule</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Test_Drive__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_test_Drive</name>
        <label>Update test Drive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_follow_up</targetReference>
        </connector>
        <inputReference>Update_the_Test_Ride_to_Reschedule</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_test_drive_records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-08-23</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Create_Follow_up_if_the_test_ride_is_not_Completed</name>
        <label>Create Follow-up if the test ride is not Completed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_the_Test_Ride_to_Reschedule</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Follow_Up__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Lead__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_test_drive_records[$EachItem].Lead__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Opportunity__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_test_drive_records[$EachItem].Opportunity__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_test_drive_records[$EachItem].Name</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Previous_Feedback__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>Test Drive Was Scheduled But Not Completed </stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Status__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>New</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Due_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Date</formulaDataType>
                    <formulaExpression>DATETIMEVALUE( DATEVALUE(NOW()) + (18/24) )</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Subject__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>&quot;Call&quot;</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Follow_Up_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>DateTime</formulaDataType>
                    <formulaExpression>NOW() + (5/24)</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>FollowUpType__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>Reschedule TR Call</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OwnerId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_test_drive_records[$EachItem].OwnerId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Update_the_Test_Ride_to_Reschedule</name>
        <label>Update the Test Ride to Reschedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_test_Drive</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Test_Drive__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_test_drive_records[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Test_Drive_Status__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>No Show</stringValue>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>AllTestDriveToBeUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Test_Drive__c</objectType>
    </variables>
</Flow>
