force-app/main/default/flows/Vehicle_Update_when_Order_Assigned_Vehicle_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vehicle_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Assigned_Vehicle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_Vehicle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_Update</targetReference>
            </connector>
            <label>Vehicle Exists</label>
        </rules>
        <rules>
            <name>Vehicle_Dont_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Assigned_Vehicle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_Vehicle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_Update_2</targetReference>
            </connector>
            <label>Vehicle Dont Exist</label>
        </rules>
    </decisions>
    <description>Dealer field on Vehicle is updated with the Preffered Seller field value on Order, when a Assigned Vehicle field is updated on Order.</description>
    <environments>Default</environments>
    <interviewLabel>Vehicle Update when Order Assigned Vehicle Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vehicle Update when Order Assigned Vehicle Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Vehicle_Update</name>
        <label>Vehicle Update</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Assigned_Vehicle__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dealer__c</field>
        </inputAssignments>
        <object>Vehicle</object>
    </recordUpdates>
    <recordUpdates>
        <name>Vehicle_Update_2</name>
        <label>Vehicle Update 2</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Assigned_Vehicle__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dealer__c</field>
            <value>
                <elementReference>$Record.Dealer__c</elementReference>
            </value>
        </inputAssignments>
        <object>Vehicle</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
