force-app/main/default/flows/Vehicle_Before_VRN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Copy_1_of_Duplicate_VRN</name>
        <label>Copy 1 of Duplicate VRN</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <customErrorMessages>
            <errorMessage>A vehicle with this VRN already exists. Please enter a unique Vehicle Registration Number.</errorMessage>
            <fieldSelection>VehicleRegistrationNumber</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Duplicate_VRN</name>
        <label>Duplicate VRN</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <customErrorMessages>
            <errorMessage>A vehicle with this VRN already exists. Please enter a unique Vehicle Registration Number.</errorMessage>
            <fieldSelection>VehicleRegistrationNumber</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Checking_VRN</name>
        <label>Checking VRN</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Vehicle.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VehicleRegistrationNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Vehicle.VehicleRegistrationNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_VRN</targetReference>
            </connector>
            <label>is New</label>
        </rules>
        <rules>
            <name>is_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Vehicle.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.VehicleRegistrationNumber</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VehicleRegistrationNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Vehicle.VehicleRegistrationNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Duplicate_VRN</targetReference>
            </connector>
            <label>is updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Vehicle(Before) - VRN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vehicle(Before) - VRN</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Vehicle</name>
        <label>Vehicle</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_VRN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VehicleRegistrationNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.VehicleRegistrationNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicle</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Vehicle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VehicleRegistrationNumber</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Vehicle</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
