force-app/main/default/flows/Warranty_Prior_Deletion_If_there_is_no_related_Labour_code_and_Parts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Labour_code</name>
        <label>Check Labour code</label>
        <locationX>380</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_No_Labour_code_Delete_the_Warranty_Prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Labour_code_related_to_the_warranty</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_Parts</targetReference>
            </connector>
            <label>If No Labour code  Delete the Warranty Prior</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Parts</name>
        <label>Check the Parts</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_No_Parts_Delete_the_Warranty_Prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Parts_Related_to_the_Warranty_Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Warranty_Record</targetReference>
            </connector>
            <label>If No Parts Delete the Warranty Prior</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Warranty Prior Deletion If there is no related Labour code and Parts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Warranty Prior Deletion If there is no related Labour code and Parts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Warranty_Record</name>
        <label>Delete Warranty Record</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Warranty_Prior__r.Id</elementReference>
            </value>
        </filters>
        <object>Warranty_Prior__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Labour_code_related_to_the_warranty</name>
        <label>Get All Labour code related to the warranty</label>
        <locationX>380</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Labour_code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Warranty_Prior__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Warranty_Prior__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Parts_Related_to_the_Warranty_Prior</name>
        <label>Get All Parts Related to the Warranty Prior</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Labour_code_related_to_the_warranty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Warranty_Prior__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Warranty_Prior__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Parts_Related_to_the_Warranty_Prior</targetReference>
        </connector>
        <object>WorkPlan</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Draft</status>
</Flow>
