force-app/main/default/flows/work_order_Before_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Price_Book</name>
        <label>Assign Price Book</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.City__r.Price_Book__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Std_PriceBook_to_the_Job_Card</name>
        <label>Assign Std PriceBook to the Job Card</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_standard_Pricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vehicle_details</name>
        <label>Assign Vehicle details</label>
        <locationX>578</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>$Record.Vehicle_Identification_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Vehicle__r.VehicleIdentificationNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Vehicle_Registration_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Vehicle__r.VehicleRegistrationNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_pricebook_allocation_needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Action_assignment</name>
        <label>No Action assignment</label>
        <locationX>512</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>NoActionTaken</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Customer_Concerns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_the_prior_status_value</name>
        <label>Store the prior status value</label>
        <locationX>446</locationX>
        <locationY>3311</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.RR_Status_Prior__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_End_date</name>
        <label>Update End date</label>
        <locationX>512</locationX>
        <locationY>2819</locationY>
        <assignmentItems>
            <assignToReference>$Record.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_cancellation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Prior_status</name>
        <label>Update Prior status</label>
        <locationX>446</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.RR_Status_Prior__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Vehicle_details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Start_Date</name>
        <label>Update Start Date</label>
        <locationX>446</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>$Record.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_JC_Completed</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>City_s_Pricebook_is_not_active</name>
        <label>City&apos;s Pricebook is not active</label>
        <locationX>842</locationX>
        <locationY>803</locationY>
        <customErrorMessages>
            <errorMessage>Selected City&apos;s Pricebook is not active! Please select city with active Pricebook to proceed.</errorMessage>
            <fieldSelection>City__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>error</name>
        <label>error</label>
        <locationX>248</locationX>
        <locationY>2819</locationY>
        <customErrorMessages>
            <errorMessage>You can&apos;t complete the job card because the previous status is not marked as Ready for Delivery.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Pricebook_is_not_active</name>
        <label>Pricebook is not active</label>
        <locationX>578</locationX>
        <locationY>803</locationY>
        <customErrorMessages>
            <errorMessage>Selected Pricebook is not active! Please select an active Pricebook to proceed.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Show_Action_Not_Taken_Error</name>
        <label>Show Action Not Taken Error</label>
        <locationX>292</locationX>
        <locationY>1919</locationY>
        <customErrorMessages>
            <errorMessage>Please fill the observation taken against each Customer Concerns.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_cancellation</name>
        <label>Check cancellation</label>
        <locationX>578</locationX>
        <locationY>3203</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancellation_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_the_prior_status_value</targetReference>
            </connector>
            <label>Cancellation Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_JC_Completed</name>
        <label>Check JC Completed</label>
        <locationX>578</locationX>
        <locationY>2603</locationY>
        <defaultConnector>
            <targetReference>Check_cancellation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>JC_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prior_status_is_notReady_for_Delivery</targetReference>
            </connector>
            <label>JC Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Concerns</name>
        <label>Check the Concerns</label>
        <locationX>424</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>Technician_Allocated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>action_not_taken</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoActionTaken</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RR_Job_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>VAS Purchase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Action_Not_Taken_Error</targetReference>
            </connector>
            <label>action not taken</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_status</name>
        <label>Check the status</label>
        <locationX>578</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Technician_Allocated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Ready_for_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Delivery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Concern_category</targetReference>
            </connector>
            <label>Status is Ready for Delivery</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_6</name>
        <label>Decision 6</label>
        <locationX>644</locationX>
        <locationY>1427</locationY>
        <defaultConnector>
            <targetReference>Loop_Customer_Concerns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Customer_Concerns.RR_Observation_Action_Taken__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Action_assignment</targetReference>
            </connector>
            <label>Outcome 1 of Decision 6</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_pricebook_allocation_needed</name>
        <label>Is pricebook allocation needed?</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Check_the_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND 4 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.City__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City__r.Price_Book__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Price_Book</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>PriceBook_is_not_set</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City__r.Price_Book__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_standard_Pricebook</targetReference>
            </connector>
            <label>PriceBook is not set</label>
        </rules>
        <rules>
            <name>Price_Book_is_not_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pricebook2.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pricebook_is_not_active</targetReference>
            </connector>
            <label>Price Book is not active</label>
        </rules>
        <rules>
            <name>City_Price_Book_is_not_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.City__r.Price_Book__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City__r.Price_Book__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>City_s_Pricebook_is_not_active</targetReference>
            </connector>
            <label>City Price Book is not active</label>
        </rules>
    </decisions>
    <decisions>
        <name>OrderUpdated</name>
        <label>OrderUpdated</label>
        <locationX>578</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Assign_Vehicle_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancellation_requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prior_status</targetReference>
            </connector>
            <label>Cancellation requested</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prior_status_is_notReady_for_Delivery</name>
        <label>Prior status is not Ready for Delivery</label>
        <locationX>380</locationX>
        <locationY>2711</locationY>
        <defaultConnector>
            <targetReference>Update_End_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_ready_for_delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error</targetReference>
            </connector>
            <label>not ready for delivery</label>
        </rules>
    </decisions>
    <decisions>
        <name>Technician_Allocated</name>
        <label>Technician Allocated</label>
        <locationX>578</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Check_JC_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Technician_allocated1</name>
            <conditionLogic>(1 AND 2 AND 3 AND 5) OR (4 AND 1)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RR_Technician__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RR_Technician__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.RR_Technician__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Start_Date</targetReference>
            </connector>
            <label>Technician allocated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>work order - Before Insert/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>work order - Before Insert/Update</label>
    <loops>
        <name>Loop_Customer_Concerns</name>
        <label>Loop Customer Concerns</label>
        <locationX>424</locationX>
        <locationY>1319</locationY>
        <collectionReference>Get_Concern_category</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_6</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_the_Concerns</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Concern_category</name>
        <label>Get Concern category</label>
        <locationX>424</locationX>
        <locationY>1211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Customer_Concerns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RR_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RR_Customer_Voice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_standard_Pricebook</name>
        <label>Get standard Pricebook</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Std_PriceBook_to_the_Job_Card</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OrderUpdated</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NoActionTaken</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vehicle</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
