force-app/main/default/flows/work_order_line_item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_the_value_to_the_GSTs</name>
        <label>Assign the value to the GSTs</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>TotalCGST</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_the_parts.CGST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalSGST</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_the_parts.SGST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalIGST</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_the_parts.IGST_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_the_parts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_GSTs</name>
        <label>Check GSTs</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Work_Order1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GST_is_updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CGST_Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SGST_Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IGST_Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_parts</targetReference>
            </connector>
            <label>GST is updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>choosing_Asset_or_Product</name>
        <label>choosing Asset or Product</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Zero_Invoice_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Select_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset_Records</targetReference>
            </connector>
            <label>Select Asset</label>
        </rules>
        <rules>
            <name>Select_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_1</targetReference>
            </connector>
            <label>Select Product</label>
        </rules>
    </decisions>
    <decisions>
        <description>Zero and Not to reflect in invoice</description>
        <name>Zero_Invoice_Check</name>
        <label>Zero Invoice Check</label>
        <locationX>314</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Getting_Work_order_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Zero_Invoice_type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RR_Parts_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EW(Extended Warranty)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RR_Parts_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Goodwill Warranty</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RR_Parts_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>River Warranty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Zero_Invoice_Parts</targetReference>
            </connector>
            <label>is Zero Invoice type</label>
        </rules>
    </decisions>
    <description>Jitendra : 15/07/2024 : Zero Invoice Fix for Warrenty Parts</description>
    <environments>Default</environments>
    <formulas>
        <name>add</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Inventory_Lot__r.Available_Quantity__c}+{!$Record.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calculateCGST</name>
        <dataType>Currency</dataType>
        <expression>{!TotalCGST} + {!Loop_the_parts.CGST_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculatingLabourCharge</name>
        <dataType>Currency</dataType>
        <expression>if(TEXT({!$Record.DurationType})==&apos;Minutes&apos;,{!$Record.Product_Fault_Code__r.Price__c}
*{!$Record.Duration}/60,If(TEXT({!$Record.DurationType})==&apos;Hours&apos;,{!$Record.Product_Fault_Code__r.Price__c}
*{!$Record.Duration},0))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>checkingIsCreatedORUpdated</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()||ISCHANGED({!$Record.Quantity})</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>SparePartsMinus</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Inventory_Lot__r.Available_Quantity__c}-{!$Record.Quantity}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UpdatingDuration</name>
        <dataType>Number</dataType>
        <expression>If(ISNULL({!Getting_Work_order_Record.Duration}),{!$Record.Duration},{!Getting_Work_order_Record.Duration}+{!$Record.Duration})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>work order line item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>work order line item</label>
    <loops>
        <name>Loop_the_parts</name>
        <label>Loop the parts</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_parts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_the_value_to_the_GSTs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Work_Order1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset_Records</name>
        <label>Get Asset Records</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_parts</name>
        <label>Get parts</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_the_parts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_products</name>
        <label>Get product fault code</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_work_line_item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Records.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductFaultCode</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Work_order_Record</name>
        <label>Getting Work order Record</label>
        <locationX>314</locationX>
        <locationY>1847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updating_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Zero_Invoice_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Labour_Charge__c</field>
            <value>
                <elementReference>CalculatingLabourCharge</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_work_line_item</name>
        <label>update work line item</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Zero_Invoice_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Labour_Charge__c</field>
            <value>
                <elementReference>CalculatingLabourCharge</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order1</name>
        <label>Update Work Order</label>
        <locationX>314</locationX>
        <locationY>923</locationY>
        <connector>
            <targetReference>choosing_Asset_or_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CGST_on_Parts__c</field>
            <value>
                <elementReference>TotalCGST</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IGST_on_Parts__c</field>
            <value>
                <elementReference>TotalIGST</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SGST_on_Parts__c</field>
            <value>
                <elementReference>TotalSGST</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Zero_Invoice_Parts</name>
        <label>Update Zero Invoice Parts</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Getting_Work_order_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_Work_Order</name>
        <label>Updating Work Order</label>
        <locationX>314</locationX>
        <locationY>1955</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>UpdatingDuration</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_GSTs</targetReference>
        </connector>
        <object>WorkOrderLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>OnHoldReason</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The product {!$Record.Product2.Name} is not available. &lt;a href=&quot;/{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>TotalCGST</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalIGST</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalSGST</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
